<section class="advantages container">
    <div class="advantages__items">
        <div class="advantages__question">Why?</div>
        <div class="advantages__answer">
            Business users <a href="#">require information to make decisions</a> on the spot with no
            extra assistance.
        </div>
    </div>
    <div class="advantages__items">
        <div class="advantages__question">How?</div>
        <div class="advantages__answer">
            We know how to <a href="#">transform user questions into SQL queries</a> in a friendly
            and safe graphical UI.
        </div>
    </div>
    <div class="advantages__items">
        <div class="advantages__question">What?</div>
        <div class="advantages__answer">
            With Active Query Builder you will<a href="#"> integrate a database querying module</a>
            into your software in a few hours.
        </div>
    </div>
</section>
