<section class="analyzer__db">
    <div class="analyzer__wrapper container">
        <h2>Works with SQL queries for various database servers and standards</h2>
        <div class="analyzer__grid">
            <div class="analyzer__item">
                <img src="./img/db/oracle.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/sql-server.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/sql-azure.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/a.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/mysql.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/postgresql.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/sqlite.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/firebird.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/sybase.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/ibm2.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/informix.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/teradata.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/netezza.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/avantagedb.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/saphana.png" alt="" />
            </div>
            <div class="analyzer__item">
                <img src="./img/db/generic.png" alt="" />
            </div>
        </div>
    </div>
</section>
