<section class="analyst">
    <div class="analyst__container container">
        <h3>Business users are in need of fresh analytical data</h3>
        <div class="analyst__wrapper">
            <div class="analyst__items">
                <img src="./img/analyst1.png" alt="" />
                <h4>Analyst</h4>
                <p>
                    As an analyst you need to generate reports just in time, not wasting much time
                    for this. Ideally, have a set of already prepared reports to get what you need
                    in one click.
                </p>
            </div>
            <div class="analyst__items">
                <img src="./img/analyst2.png" alt="" />
                <h4>Business managers</h4>
                <p>
                    As a business manager you need to get insights from ad-hoc reports, which you
                    can't get from analysts fast enough. You need instant to daya to look at it from
                    different angles.
                </p>
            </div>
        </div>
        <span
            >With a lack of ad-hoc reports and busy analysts, instant access to data is a top
            priority.</span
        >
    </div>
</section>
