<section class="component">
    <div class="component__container container">
        <h2>Active Query Builder</h2>
        <span>A shortcut to your data</span>
        <div class="component__wrapper">
            <div class="component__descr">
                <h4>With AQB component as a part of your system:</h4>
                <p>
                    You can safely build queries by yourself without the need to jump out of your
                    cozy business app!
                </p>
                <div class="component__block">
                    <span>Analysts</span>
                    <p>
                        Don't waste time debugging SQL queries. Deliver the needed information just
                        in time. Understand and adjust your queries and get instant results.
                    </p>
                    <span>Business managers</span>
                    <p>
                        With friendly names and only the right objects in sight, easily discover the
                        data you need. Don't hold out for answers from analysts. Get insights right
                        when you need them.
                    </p>
                </div>
                <a href="#" class="component__btn">Try in action</a>
            </div>
            <img class="component__img" src="./img/component-bg.png" alt="" />
        </div>
    </div>
</section>
