<section class="demo__get_data">
    <div class="demo__get_container container">
        <h2>In a few seconds...</h2>
        <div class="demo__get_subtitle">
            See how to get data with Active Query Builder with video tutorials.
        </div>
        <div class="demo__get_video">
            <iframe
                class="demo__get_iframe"
                src="//www.youtube.com/embed/O_0smfAiR-8?rel=0&fmt=18&html5=1&showinfo=0"
                frameborder="0"
            ></iframe>
            <iframe
                class="demo__get_iframe"
                src="//www.youtube.com/embed/haezQ5neyQ0?rel=0&fmt=18&html5=1&showinfo=0"
                frameborder="0"
            ></iframe>
        </div>
        <div class="demo__get_query">
            <h3>Try building a query yourself right now!</h3>
            <a href="#">Try online demo</a>
        </div>
    </div>
</section>
