<section class="demo__app container">
    <h2>In a few minutes...</h2>
    <div class="demo__app_subtitle">
        Try Active Query Builder by yourself with a ready-to-use demo app.
    </div>
    <div class="demo__app_items">
        <img src="./img/demo-app1.png" alt="" />
        <div class="demo__app_info">
            <div class="demo__app_title">Desktop Demo</div>
            <div class="demo__app_descr">
                If you want to delve deeper and understand the user path from building queries to
                generating reports, <strong>download the ready-to-use desktop app</strong> and
                connect it to your DB.
            </div>
            <a href="#">Download now</a>
        </div>
    </div>
    <div class="demo__app_items demo__app_items-middle">
        <div class="demo__app_info">
            <div class="demo__app_title">Online Query Module Demo</div>
            <div class="demo__app_descr">
                Register on the Online Proof-of-Concept demo app to see how users get data they need
                themselves having no or little knowledge of SQL. It will take only a few minutes to
                explore it!
            </div>
            <a href="#">Explore now</a>
        </div>
        <img src="./img/demo-app2.png" alt="" />
    </div>
    <div class="demo__app_items">
        <img src="./img/demo-app3.png" alt="" />
        <div class="demo__app_info">
            <div class="demo__app_title">End-user SQL query tool</div>
            <div class="demo__app_descr">
                If you need nothing but
                <strong>a tool to build SQL queries and get access to data</strong>, have a look at
                FlySpeed SQL Query, which uses Active Query Builder (VCL Edition) inside.
            </div>
            <a href="#">Learn more</a>
        </div>
    </div>
</section>
