<section class="enduser">
    <div class="enduser__container container">
        <img src="./img/end-user-bg.png" alt="" />
        <div class="enduser__wrapper">
            <h4>End-user SQL Query Too</h4>
            <p>
                Don't have Active Query Builder in your app but need to get data out of your DB
                right now?
            </p>
            <p>
                Use the right tool with a handy visual query builder to connect, build SQL queries
                visually and export data right now.
            </p>
            <a href="#">Download FlySpeed SQL Query!</a>
        </div>
    </div>
</section>
