<footer class="footer">
    <div class="footer__container container">
        <div class="footer__wrapper">
            <div class="footer__links">
                <h3>Product</h3>
                <ul>
                    <li><a href="#">Feature Tour</a></li>
                    <li><a href="#">Feature Matrix</a></li>
                    <li><a href="#">Online Demo</a></li>
                    <li><a href="#">Web API</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
            </div>
            <div class="footer__links">
                <h3>About Us</h3>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Reviews on Capterra</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer__links">
                <h3>Support</h3>
                <ul>
                    <li><a href="#">Knowledge Base</a></li>
                    <li><a href="#">Submit a Request</a></li>
                    <li><a href="#">Community Forum</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Sources on GitHub</a></li>
                </ul>
            </div>
            <div class="footer__links">
                <h3>For Customers</h3>
                <ul>
                    <li><a href="#">Customer's Area</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__wrapper">
            <div class="footer__copyright">
                <span>© Copyright 2005-2018 ActiveDBSoft. All rights reserved.</span>
                <ul>
                    <li><a href="#">Site Map</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
