<section class="analyzer container">
    <div class="analyzer__container formatter__container">
        <style>
            #root,
            #navigation,
            #structure,
            #content-viewer,
            #used-columns,
            #output-columns,
            #used-objects,
            .tab-content,
            #navigation-col,
            .query-content > .col-md-3,
            .query-content > .col-md-9 {
                height: 100%;
            }

            .main {
                border-top: initial !important;
            }

            .info-panel {
                border: 1px solid #bebebe;
                background-color: lightyellow;
                margin-bottom: 5px;
                padding: 2px;
            }

            .statistics-table-container {
                overflow: auto;
                max-height: 310px;
            }

            .statistics-table {
                height: 100%;
            }

            .root-viewer {
                height: 100%;
                max-height: 360px;
            }

            .navigation-tab {
                cursor: pointer;
            }

            .query-part-tab {
                cursor: pointer;
            }

            .jsoneditor-field {
                cursor: pointer;
            }

            div.jsoneditor-tree button.jsoneditor-button:focus {
                background-color: initial;
                outline: initial;
            }

            .query-parts-nav {
                margin-bottom: 5px !important;
            }

            .query-content {
                height: 460px;
            }

            .body-content > .row > .col-md-3 {
                display: none;
            }

            .body-content > .row > .col-md-9 {
                width: 100% !important;
            }

            .CodeMirror * {
                font-family: monospace !important;
            }

            .CodeMirror {
                border: 1px solid #bebebe;
                font-family: monospace !important;
            }
        </style>
        <div class="row row__formatter">
            <div class="col-md-9 col-md-9__formatter">
                <div class="main main__formatter">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label for="presets">Formatting scheme</label>
                                <div class="presets-tabs" id="presets">
                                    <a class="preset-tab">Compact</a>
                                    <a class="preset-tab">Standard</a>
                                    <a class="preset-tab active">Wide</a>
                                    <a class="preset-tab">Commas first</a>
                                    <a class="preset-tab">Dynamic</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="syntax">Dialect</label>
                                <select class="input" id="syntax" name="Syntax">
                                    <option value="SQL92SyntaxProvider">ANSI SQL-92</option>
                                    <option value="SQL89SyntaxProvider">ANSI SQL-89</option>
                                    <option value="SQL2003SyntaxProvider">ANSI SQL-2003</option>
                                    <option value="AdvantageSyntaxProvider">
                                        Advantage Database Server
                                    </option>
                                    <option value="DB2SyntaxProvider">IBM DB2</option>
                                    <option value="FirebirdSyntaxProvider">Firebird</option>
                                    <option value="InformixSyntaxProvider">IBM Informix</option>
                                    <option value="MSAccessSyntaxProvider">MS Access</option>
                                    <option value="MSSQLSyntaxProvider">
                                        Microsoft SQL Server
                                    </option>
                                    <option value="MSSQLCESyntaxProvider">
                                        Microsoft SQL Server Compact
                                    </option>
                                    <option value="MSSQLAzureSyntaxProvider">
                                        Microsoft SQL Azure
                                    </option>
                                    <option value="MySQLSyntaxProvider">MySQL</option>
                                    <option value="NetezzaSyntaxProvider">Netezza</option>
                                    <option value="OracleSyntaxProvider">Oracle</option>
                                    <option value="PostgreSQLSyntaxProvider">PostgreSQL</option>
                                    <option value="SQLiteSyntaxProvider">SQLite</option>
                                    <option value="SybaseSyntaxProvider">Sybase</option>
                                    <option value="TeradataSyntaxProvider">Teradata</option>
                                    <option value="VistaDBSyntaxProvider">VistaDB</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="keyword-casing">Keywords casing</label>
                                <select class="input" id="keyword-casing" name="Preset">
                                    <option value="First Upper">First Upper</option>
                                    <option selected="selected" value="Uppercase">Uppercase</option>
                                    <option value="Lowercase">Lowercase</option>
                                </select>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="wrap-lines" type="checkbox" />
                                    <b>Wrap lines by words</b>
                                </label>
                            </div>
                            <div class="form-group">
                                <label style="font-weight: initial" for="max-in-line"
                                    >Max in line</label
                                >
                                <input
                                    disabled=""
                                    type="number"
                                    class="form-control"
                                    id="max-in-line"
                                    value="120"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group">
                                    <textarea id="sql"></textarea>
                                    <div class="field-validation-error" style="display: none">
                                        <span id="parse-error"></span>
                                        <p>
                                            Make sure you have chosen the right SQL dialect
                                            according to your database server.
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button id="submit" class="button">Format query</button>
                                    <span class="submit-info">Press Ctrl+Enter to update</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link
        rel="stylesheet"
        href="https://www.activequerybuilder.com/cdn/codemirror/codemirror.min.css"
    />
    <link
        rel="stylesheet"
        href="https://webapi.activequerybuilder.com/Content/jsoneditor.min.css"
    />
    <link
        rel="stylesheet"
        href="https://webapi.activequerybuilder.com/Content/jstree.style.min.css"
    />
    <script src="https://static.tildacdn.com/js/jquery-1.10.2.min.js"></script>
    <script
        type="text/javascript"
        src="https://www.activequerybuilder.com/cdn/codemirror/codemirror.min.js"
    ></script>
    <script
        type="text/javascript"
        src="https://webapi.activequerybuilder.com/Scripts/jsoneditor.min.js"
    ></script>
    <script
        type="text/javascript"
        src="https://webapi.activequerybuilder.com/Scripts/jstree.min.js"
    ></script>
    <script src="https://webapi.activequerybuilder.com/Scripts/bootstrap.min.js"></script>
    <script>
        window.onload = function () {
            $('.field-validation-error').hide();
            var error = $('#parse-error');

            window.editor = CodeMirror.fromTextArea(document.getElementById('sql'), {
                mode: 'text/x-sql',
                indentWithTabs: true,
                smartIndent: true,
                lineNumbers: true,
                matchBrackets: true,
            });

            window.editor.setValue(`SELECT
    OrderID,
    UnitPrice,
    Quantity
FROM
    Orders
    LEFT JOIN
    OrderDetails ON Orders.OrderID = OrderDetails.OrderID
WHERE
    UnitPrice > 42.0
ORDER BY
    OrderID`);

            var formatSettings = {
                preset: 'Wide',
                keywordsCasing: 'Uppercase',
                wrapLines: false,
                maxInLine: '120',
            };

            var activePresetTab = $('.preset-tab.active').get(0);
            $('.preset-tab').click(function () {
                $(activePresetTab).toggleClass('active', false);
                activePresetTab = this;
                formatSettings.preset = $(activePresetTab).text();
                $(activePresetTab).toggleClass('active', true);
                formatQuery();
            });

            $('#keyword-casing').change(function () {
                formatSettings.keywordsCasing = $('#keyword-casing').val();
                formatQuery();
            });

            $('#wrap-lines').change(function () {
                formatSettings.wrapLines = $('#wrap-lines').prop('checked');
                $('#max-in-line').attr('disabled', !formatSettings.wrapLines);
                formatQuery();
            });

            $('#max-in-line').change(function () {
                formatSettings.maxInLine = $('#max-in-line').val();
                formatQuery();
            });

            function formatQuery() {
                $('.field-validation-error').hide();

                $.ajax({
                    url: 'https://webapi.activequerybuilder.com/Format/FormatSQL',
                    type: 'post',
                    data: {
                        sql: editor.getValue(),
                        syntax: document.getElementById('syntax').value,
                        preset: formatSettings.preset,
                        keywordsCasing: formatSettings.keywordsCasing,
                        wrapLines: formatSettings.wrapLines,
                        maxInLine: formatSettings.maxInLine,
                    },
                    success: function (data) {
                        switch (data.ResultCode) {
                            case 0:
                                return editor.setValue(data.Sql);
                            case 1:
                                $('.field-validation-error').show();
                                error.text('Not a select statement.');
                                break;
                            case 2:
                                $('.field-validation-error').show();
                                error.text(data.ErrorDescription.Message);
                                break;
                        }
                    },
                });
            }

            $('#submit').click(function () {
                formatQuery();
            });

            $('.CodeMirror').keydown(function (e) {
                if (e.ctrlKey && e.keyCode === 13) {
                    formatQuery();
                }
            });
        };
    </script>
</section>
