<section class="header__artboard">
    <div class="header__artboard__container container">
        <div class="header__board_items">
            <h1>Active Query Builder</h1>
            <div class="header__board_subtitle">Let any user turn data into information!</div>
            <div class="header__board_descr">
                Build user-oriented software and let your customers be data driven with Active Query
                Builder!
            </div>
            <a href="#">Get Started</a>
        </div>
        <div class="header__board_video">
            <img src="./img/video-bg.png" alt="" />
            <iframe
                class="header__iframe"
                src="//www.youtube.com/embed/FvigBrGoflw?rel=0&fmt=18&html5=1&showinfo=0"
                frameborder="0"
            ></iframe>
        </div>
    </div>
</section>
