<section class="header__analyzer header-bg">
    <div class="header__analyzer_title">
        <h1>Online SQL query text formatter</h1>
        <div class="header__analyzer_subtitle">
            Free web-based service for SQL query text formatting and beautifying.
        </div>
        <span>Rearrange your SQL query statement into the appropriate standard format!</span>
    </div>
    <div class="header__analyzer_wrapper">
        <div class="header__analyzer_content">
            <div class="header__analyzer_content_title">
                Active Query Builder can parse an arbitrary SELECT statement and return a
                pretty-formatted text.
            </div>
            <div class="header__analyzer_content_items">
                <ul>
                    <li>Supports different formatting schemes for dense or readability</li>
                    <li>
                        Can put commas or operators to the end of line or beginning of the following
                        line.
                    </li>
                    <li>Supports wrapping lines by words.</li>
                </ul>
            </div>
        </div>
        <div class="header__analyzer_based">
            <div class="header__analyzer_content_based">
                <h3>Based on Active Query Builder SQL parser and generator.</h3>
                <span>Having purchased Active Query Builder,</span> you get a comprehensive set of
                formatting options to tune the formatting the way you like.
            </div>
        </div>
    </div>
</section>
