<div class="header">
    <div id="nav" class="header-fixed" data-mode="desktop">
        <div class="header-container container">
            <div class="logo-header">
                <a href="#" title="Active Query Builder Home Page"
                    ><img src="./img/logo2.png" alt=""
                /></a>
            </div>
            <div class="nav-title">
                <a href="#">
                    <img src="./img/logo-mobile.png" alt="" />
                </a>
            </div>
            <div class="cl-toggle burger__menu">
                <span class="burger__menu--span"></span>
                <span class="burger__menu--span"></span>
                <span class="burger__menu--span"></span>
                <span class="burger__menu--span"></span>
            </div>
            <nav class="primary-nav" id="primary-nav">
                <div class="nav__container">
                    <ul>
                        <li>
                            <a
                                id="head-menu-index"
                                href=""
                                class="home hover-link menu__show menu__show_hide"
                                title="Active Query Builder home page"
                                >PRODUCTS
                                <div class="arrow__tooltip"></div>
                            </a>
                            <div class="tooltip__menu">
                                <div class="tooltip__content">
                                    <ul>
                                        <li class="tooltip__item">
                                            <div class="tooltip__wrapper">
                                                <a
                                                    href="#"
                                                    class="tooltip__link"
                                                    data-menu="subcontent1"
                                                >
                                                    <span
                                                        class="
                                                            tooltip__inner tooltip__inner_desktop
                                                        "
                                                        >FOR DESKTOP<span
                                                            class="tooltip__arrow_mobile"
                                                        ></span
                                                    ></span>
                                                    <span
                                                        class="tooltip__inner tooltip__inner_mobile"
                                                        >DESKTOP PRODUCTS<span
                                                            class="tooltip__arrow_mobile"
                                                        ></span
                                                    ></span>
                                                    <span class="tooltip__arrow"></span>
                                                </a>
                                                <div class="subcontent">
                                                    <div
                                                        class="subcontent__wrapper"
                                                        data-submenu="subcontent1"
                                                    >
                                                        <ul>
                                                            <li class="subcontent__item">
                                                                <a href="">
                                                                    <span class="subcontent__inner"
                                                                        >.NET / WINFORMS</span
                                                                    >
                                                                </a>
                                                            </li>
                                                            <li class="subcontent__item">
                                                                <a href="">
                                                                    <span class="subcontent__inner"
                                                                        >.NET / WPF</span
                                                                    >
                                                                </a>
                                                            </li>
                                                            <li class="subcontent__item">
                                                                <a href="">
                                                                    <span class="subcontent__inner"
                                                                        >DELPHI & C++BUILDER</span
                                                                    >
                                                                </a>
                                                            </li>
                                                            <li class="subcontent__item">
                                                                <a href="">
                                                                    <span class="subcontent__inner"
                                                                        >COM / ACTIVEX</span
                                                                    >
                                                                </a>
                                                            </li>
                                                            <li class="subcontent__item">
                                                                <a href="">
                                                                    <span class="subcontent__inner"
                                                                        >JAVA</span
                                                                    >
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="tooltip__item">
                                            <div class="tooltip__wrapper">
                                                <a
                                                    href="#"
                                                    class="tooltip__link"
                                                    data-menu="subcontent2"
                                                >
                                                    <span
                                                        class="
                                                            tooltip__inner tooltip__inner_desktop
                                                        "
                                                        >FOR WEB<span
                                                            class="tooltip__arrow_mobile"
                                                        ></span
                                                    ></span>
                                                    <span
                                                        class="tooltip__inner tooltip__inner_mobile"
                                                        >WEB PRODUCTS<span
                                                            class="tooltip__arrow_mobile"
                                                        ></span
                                                    ></span>
                                                    <span class="tooltip__arrow"></span>
                                                </a>
                                                <div class="subcontent">
                                                    <div
                                                        class="subcontent__wrapper"
                                                        data-submenu="subcontent2"
                                                    >
                                                        <ul>
                                                            <li class="subcontent__item">
                                                                <a href="">
                                                                    <span class="subcontent__inner"
                                                                        >ASP.NET (MVC, WebForms,
                                                                        SPA)</span
                                                                    >
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="tooltip__item">
                                            <div class="tooltip__wrapper">
                                                <a
                                                    href="#"
                                                    class="tooltip__link"
                                                    data-menu="subcontent3"
                                                >
                                                    <span class="tooltip__inner"
                                                        >ONLINE SERVICES<span
                                                            class="tooltip__arrow_mobile"
                                                        ></span
                                                    ></span>
                                                    <span class="tooltip__arrow"></span>
                                                </a>
                                                <div class="subcontent">
                                                    <div
                                                        class="subcontent__wrapper"
                                                        data-submenu="subcontent3"
                                                    >
                                                        <ul>
                                                            <li class="subcontent__item">
                                                                <a href="">
                                                                    <span class="subcontent__inner"
                                                                        >SQL QUERY ANALYZER</span
                                                                    >
                                                                </a>
                                                            </li>
                                                            <li class="subcontent__item">
                                                                <a href="">
                                                                    <span class="subcontent__inner"
                                                                        >SQL FORMATTER</span
                                                                    >
                                                                </a>
                                                            </li>
                                                            <li class="subcontent__item">
                                                                <a href="">
                                                                    <span class="subcontent__inner"
                                                                        >ONLINE DEMO</span
                                                                    >
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a
                                id="head-menu-product"
                                href="https://www.activequerybuilder.com/product.html"
                                class="hover-link"
                                title="SQL Query Builder - features and versions"
                                >PRICING</a
                            >
                        </li>
                        <li class="blogs">
                            <a
                                id="head-menu-download"
                                href="https://www.activequerybuilder.com/download.html"
                                class="hover-link menu__show menu__show_hide"
                                title="Download Visual Query Builder"
                                >COMPANY
                                <div class="arrow__tooltip"></div
                            ></a>
                            <div class="tooltip__menu">
                                <div class="tooltip__content">
                                    <ul>
                                        <li class="tooltip__item">
                                            <div class="tooltip__wrapper">
                                                <a
                                                    href="#"
                                                    class="tooltip__link"
                                                    data-menu="blogcontent1"
                                                >
                                                    <span
                                                        class="
                                                            tooltip__inner tooltip__inner_desktop
                                                        "
                                                        >FOR DESKTOP222<span
                                                            class="tooltip__arrow_mobile"
                                                        ></span
                                                    ></span>
                                                    <span
                                                        class="
                                                            tooltip__inner tooltip__inner_mobile
                                                            not__submenu
                                                        "
                                                        >DESKTOP PRODUCTS222</span
                                                    >
                                                    <!-- <span class="tooltip__arrow"></span> -->
                                                </a>
                                                <!-- <div class="subcontent">
                                                <div
                                                    class="subcontent__wrapper"
                                                    data-submenu="blogcontent1"
                                                >
                                                    <ul>
                                                        <li class="subcontent__item">
                                                            <a href="">
                                                                <span
                                                                    class="
                                                                        subcontent__inner
                                                                    "
                                                                    >.NET / WINFORMS22</span
                                                                >
                                                            </a>
                                                        </li>
                                                        <li class="subcontent__item">
                                                            <a href="">
                                                                <span
                                                                    class="
                                                                        subcontent__inner
                                                                    "
                                                                    >.NET / WPF22</span
                                                                >
                                                            </a>
                                                        </li>
                                                        <li class="subcontent__item">
                                                            <a href="">
                                                                <span
                                                                    class="
                                                                        subcontent__inner
                                                                    "
                                                                    >DELPHI & C++BUILDER22</span
                                                                >
                                                            </a>
                                                        </li>
                                                        <li class="subcontent__item">
                                                            <a href="">
                                                                <span
                                                                    class="
                                                                        subcontent__inner
                                                                    "
                                                                    >COM / ACTIVEX22</span
                                                                >
                                                            </a>
                                                        </li>
                                                        <li class="subcontent__item">
                                                            <a href="">
                                                                <span
                                                                    class="
                                                                        subcontent__inner
                                                                    "
                                                                    >JAVA22</span
                                                                >
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div> -->
                                            </div>
                                        </li>
                                        <li class="tooltip__item">
                                            <div class="tooltip__wrapper">
                                                <a
                                                    href="#"
                                                    class="tooltip__link"
                                                    data-menu="blogcontent2"
                                                >
                                                    <span
                                                        class="
                                                            tooltip__inner tooltip__inner_desktop
                                                        "
                                                        >FOR WEB222</span
                                                    >
                                                    <span
                                                        class="
                                                            tooltip__inner tooltip__inner_mobile
                                                            not__submenu
                                                        "
                                                        >WEB PRODUCTS222</span
                                                    >
                                                    <!-- <span class="tooltip__arrow"></span> -->
                                                </a>
                                                <!-- <div class="subcontent">
                                                <div
                                                    class="subcontent__wrapper"
                                                    data-submenu="blogcontent2"
                                                >
                                                    <ul>
                                                        <li class="subcontent__item">
                                                            <a href="">
                                                                <span
                                                                    class="
                                                                        subcontent__inner
                                                                    "
                                                                    >ASP.NET (MVC, WebForms, SPA)22</span
                                                                >
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                        </div> -->
                                            </div>
                                        </li>
                                        <li class="tooltip__item">
                                            <div class="tooltip__wrapper">
                                                <a
                                                    href="#"
                                                    class="tooltip__link"
                                                    data-menu="blogcontent3"
                                                >
                                                    <span class="tooltip__inner not__submenu"
                                                        >ONLINE SERVICES222</span
                                                    >
                                                    <!-- <span class="tooltip__arrow"></span> -->
                                                </a>
                                                <!-- <div class="subcontent">
                                                <div
                                        class="subcontent__wrapper"
                                        data-submenu="blogcontent3"
                                    >
                                        <ul>
                                            <li class="subcontent__item">
                                                <a href="">
                                                    <span class="subcontent__inner"
                                                        >SQL QUERY ANALYZER22</span
                                                    >
                                                </a>
                                            </li>
                                            <li class="subcontent__item">
                                                <a href="">
                                                    <span class="subcontent__inner"
                                                        >SQL FORMATTER22</span
                                                    >
                                                </a>
                                            </li>
                                            <li class="subcontent__item">
                                                <a href="">
                                                    <span class="subcontent__inner"
                                                        >ONLINE DEMO22</span
                                                    >
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                            </div> -->
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a
                                id="head-menu-livedemo"
                                href="http://aspquerybuilder.net/"
                                class="hover-link"
                                title="Active Query Builder ASP.NET MVC Online Demo"
                                >HELP CENTER</a
                            >
                        </li>
                    </ul>
                    <div class="nav__rightside">
                        <div class="social__links">
                            <a
                                href="https://www.facebook.com/ActiveQueryBuilder"
                                target="_blank"
                                rel="noopener"
                            >
                                <svg class="social__svg">
                                    <use xlink:href="img/sprite.svg#fb"></use>
                                </svg>
                            </a>
                            <a
                                href="https://twitter.com/activedbsoft"
                                target="_blank"
                                rel="noopener"
                            >
                                <svg class="social__svg">
                                    <use xlink:href="img/sprite.svg#tw"></use>
                                </svg>
                            </a>
                            <a
                                href="http://linkedin.com/company/active-query-builder"
                                target="_blank"
                                rel="noopener"
                            >
                                <svg class="social__svg">
                                    <use xlink:href="img/sprite.svg#ld"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="nav__buttons">
                            <a href="" class="nav__button_call">Call Me Back</a>
                            <a
                                href="https://www.activequerybuilder.com/member/index.php"
                                target="_blank"
                                class="nav__button_sign"
                                rel="noopener"
                                >Sign in</a
                            >
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="header__pointer"></div>
</div>
