<section class="level">
    <div class="level__container container">
        <h2>What is your level in SQL?</h2>
        <span>No matter where you are, there's a room to improve your skills.</span>
        <div class="level__making">
            <h3>From making the first step...</h3>
            <div class="level__making_descr">
                <p>
                    Developed with end-users in mind, Active Query Builder won't let you stubmle
                    with invalid queries. Inadmissible combinations simply can’t be created. SQL
                    queries are effortlessly created in a correct way.
                </p>
                <p>
                    AQB helps you providing with clues, when the query is built syntactically
                    correct, but the server will surely return an error due to the lack of coherence
                    of one part of the query against the other.
                </p>
                <p>
                    AQB is a tool helping you to upgrade their SQL knowledge level, you can safely
                    experiment with queries and learn by obtaining instant feedback to your actions.
                </p>
            </div>
        </div>
        <div class="level__tabs">
            <h3>...to mastering SQL!</h3>
            <div class="level__tabs_wrapper">
                <div class="level__tabs_descr">
                    <div class="level__tabs_title level__tabs_title--active">
                        <div class="level__tabs_btn"></div>
                        <h4 class="level__tabs_h4">
                            You aren't tied to drag'n'drop! Switch between SQL text editing and
                            visual SQL query building at any time.
                        </h4>
                    </div>
                    <div class="level__tabs_item level__tabs_item--active">
                        <p>
                            You can switch from a visual query building mode to text editing any
                            time, and vice versa, after finishing with text editing to switch to a
                            visual query builder. If you master SQL, AQB doesn’t hinder your
                            creativity.
                        </p>
                    </div>
                </div>
                <div class="level__tabs_descr">
                    <div class="level__tabs_title">
                        <div class="level__tabs_btn"></div>
                        <h4 class="level__tabs_h4">
                            Navigate through SQL queries of any complexity and manage them by parts.
                        </h4>
                    </div>
                    <div class="level__tabs_item">
                        <p>
                            You can switch from a visual query building mode to text editing any
                            time, and vice versa, after finishing with text editing to switch to a
                            visual query builder. If you master SQL, AQB doesn’t hinder your
                            creativity.
                        </p>
                    </div>
                </div>
                <div class="level__tabs_descr">
                    <div class="level__tabs_title">
                        <div class="level__tabs_btn"></div>
                        <h4 class="level__tabs_h4">
                            Re-use SQL queries with parameters and macros, use one query inside
                            another, build a repository of handy query snippets.
                        </h4>
                    </div>
                    <div class="level__tabs_item">
                        <p>
                            You can switch from a visual query building mode to text editing any
                            time, and vice versa, after finishing with text editing to switch to a
                            visual query builder. If you master SQL, AQB doesn’t hinder your
                            creativity.
                        </p>
                    </div>
                </div>
                <div class="level__tabs_descr">
                    <div class="level__tabs_title">
                        <div class="level__tabs_btn"></div>
                        <h4 class="level__tabs_h4">
                            Get a high-performance environment to work with SQL queries and result
                            data.
                        </h4>
                    </div>
                    <div class="level__tabs_item">
                        <p>
                            You can switch from a visual query building mode to text editing any
                            time, and vice versa, after finishing with text editing to switch to a
                            visual query builder. If you master SQL, AQB doesn’t hinder your
                            creativity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="level__links">
            <a class="level__links_btn" href="#">Online Demo</a>
            <a class="level__links_item" href="#">Read User Guide</a>
            <a class="level__links_item" href="#">Watch video tutorials</a>
        </div>
    </div>
</section>
