<section class="module__software">
    <div class="module__software_container container">
        <h3>Is it worth adding an SQL query-building module to your software?</h3>
        <div class="module__software_wrapper">
            <div class="module__software_item">
                <div class="module__software_img">
                    <img src="./img/module-soft-img1.png" alt="" />
                </div>
                <div class="module__software_descr">
                    <h2>Add value to your software, get a competitive advantage</h2>
                    <p>
                        A system is worthwhile for business only if it helps make business
                        decisions, so looking at the data from different angles is crucial for
                        business decision makers.
                    </p>
                    <p>
                        <b
                            >Allowing end users to instantly get the data they need adds value to
                            your software, reduces end user churn, and provides a competitive
                            advantage.</b
                        >
                    </p>
                </div>
            </div>
            <div class="module__software_item">
                <div class="module__software_img">
                    <img src="./img/module-soft-img2.png" alt="" />
                </div>
                <div class="module__software_descr">
                    <h2>Decrease development costs, ship software on time</h2>
                    <p>
                        It takes up to several workdays to add a new report to an IT system. Adding
                        and maintaining dozens of reports overloads your developers, and is one of
                        the reasons why you can't ship new versions on time.
                    </p>
                    <p>
                        <b
                            >With Active Query Builder, users take control and responsibility for
                            creating and maintaining their reports. Users can reconfigure reports
                            whenever they need to with zero intervention from your side.</b
                        >
                    </p>
                </div>
            </div>
            <div class="module__software_item">
                <div class="module__software_img">
                    <img src="./img/module-soft-img3.png" alt="" />
                </div>
                <div class="module__software_descr">
                    <h2>Easy integration with any reporting system</h2>
                    <p>
                        If you’re already using a reporting system in your app, Active Query Builder
                        will add value to it by allowing you to create new data sources for reports.
                    </p>
                    <p>
                        AQB is easily integrated into most third-party solutions such as
                        <b>FastReport, StimulSoft, GrapeCity ActiveReports, TMS FlexCel,</b> etc.
                    </p>
                </div>
            </div>
            <div class="module__software_item">
                <div class="module__software_img">
                    <img src="./img/module-soft-img4.png" alt="" />
                </div>
                <div class="module__software_descr">
                    <h2>Fixed integration time is guaranteed</h2>
                    <p>
                        It usually takes
                        <b
                            >no longer than 2-5 days to integrate the AQB component into your IT
                            system.</b
                        >
                        Active Query Builder is delivered with a set of ready-to-run demo projects,
                        which can serve as a proof of concept.
                    </p>
                    <p>
                        Thanks to the professional maintenance provided by the AQB technical support
                        team, you’ll never get stuck. This has been proven by thousands of
                        successful integrations around the world.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
