<section class="offers">
    <div class="offers__container container">
        <h2>Active Query Builder Offers</h2>
        <div class="offers__wrapper">
            <div class="offers__items">
                <div class="offers__title">Visual and text SQL editing</div>
                <ul>
                    <li>Visual SQL query builder</li>
                    <li>Visual filter builder</li>
                    <li>SQL text editor</li>
                    <li>Nested queries (use one in another)</li>
                </ul>
            </div>
            <div class="offers__items">
                <div class="offers__title">Feature-rich API to operate with SQL queries</div>
                <ul>
                    <li>SQL query parser</li>
                    <li>SQL analyzer</li>
                    <li>API to create and modify user queries</li>
                    <li>SQL formatter/beautifier</li>
                </ul>
            </div>
            <div class="offers__items">
                <div class="offers__title">
                    Build friendly environment to work with SQL queries and data
                </div>
                <ul>
                    <li>Organize Database schema tree</li>
                    <li>Define friendly names for objects</li>
                    <li>Build feature-rich data browsing UI</li>
                    <li>Create repository of user queries</li>
                </ul>
            </div>
        </div>
    </div>
</section>
