<section class="safe__time">
    <div class="safe__time_container container">
        <h3>
            Save time and increase the value of your software with the AQB component integrated into
            your system.
        </h3>
        <div class="safe__time_wrapper">
            <div class="safe__time_item">
                <img src="./img/safe.png" alt="" />
                <div class="safe__time_descr">
                    <h1>Safe</h1>
                    <span
                        >Developers can fine-tune the AQB component to help users get data and
                        prevent losses: <a href="#">AQB for Developers.</a></span
                    >
                </div>
            </div>
            <div class="safe__time_item">
                <img src="./img/easy-to-integrate.png" alt="" />
                <div class="safe__time_descr">
                    <h1>Easy</h1>
                    <span
                        >Users can easily understand how to get data in the blink of an eye:
                        <a href="#">AQB for End Users.</a></span
                    >
                </div>
            </div>
        </div>
        <div class="safe__time_btn">
            <a href="#">Pricing</a>
            <a href="#">Contact us</a>
        </div>
    </div>
</section>
