<section class="supports">
    <div class="supports__container container">
        <div class="supports__slider">
            <h2>Supports Dozens of Database Servers and various SQL Standards</h2>
            <span
                >Teradata, SAP HANA, Informix, Netezza, Firebird, Pervasive and many others...</span
            >
            <div class="supports__slider_container swiper">
                <div class="supports__slider_wrapper swiper-wrapper">
                    <div class="supports__slider_item swiper-slide">
                        <img src="./img/sliders/sql-server.png" alt="" />
                        <img src="./img/sliders/mysql.png" alt="" />
                        <img src="./img/sliders/postgre-sql.png" alt="" />
                        <img src="./img/sliders/oracle.png" alt="" />
                        <img src="./img/sliders/sqlite.png" alt="" />
                        <img src="./img/sliders/firebird.png" alt="" />
                    </div>
                    <div class="supports__slider_item swiper-slide">
                        <img src="./img/sliders/ms-access.png" alt="" />
                        <img src="./img/sliders/teradata.png" alt="" />
                        <img src="./img/sliders/sap-hana.png" alt="" />
                        <img src="./img/sliders/netezza.png" alt="" />
                        <img src="./img/sliders/informix.png" alt="" />
                        <img src="./img/sliders/sybase.png" alt="" />
                    </div>
                    <div class="supports__slider_item swiper-slide">
                        <img src="./img/sliders/ibm.png" alt="" />
                        <img src="./img/sliders/advantage-db.png" alt="" />
                        <img src="./img/sliders/pervasive.png" alt="" />
                        <img src="./img/sliders/generic.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offers__slider-button-prev">
        <div class="supports__slider_nav slider_nav_left">
            <svg class="arrow__left">
                <use xlink:href="img/sprite.svg#arrow-sliders"></use>
            </svg>
        </div>
    </div>
    <div class="offers__slider-button-next">
        <div class="supports__slider_nav slider_nav_right">
            <svg class="arrow__right">
                <use xlink:href="img/sprite.svg#arrow-sliders"></use>
            </svg>
        </div>
    </div>
    <div class="supports__designed container">
        <h2>Designed for:</h2>
        <div class="designed designed__wrapper">
            <div class="designed__item">
                <img class="designed__img" src="./img/designed-desk.png" alt="" />
                <div class="designed__content">
                    <span>Desktop</span>
                    <div class="designed__caption">
                        <span>.NET WinForms</span>
                        <span>.NET WPF</span>
                        <span>Delphi</span>
                        <span>C++Builder</span>
                        <span>ActiveX</span>
                        <span>Java</span>
                    </div>
                </div>
            </div>
            <div class="designed__item">
                <img class="designed__img" src="./img/designed-web.png" alt="" />
                <div class="designed__content">
                    <span>Web</span>
                    <div class="designed__caption">
                        <span>ASP.NET WebForms</span>
                        <span>ASP.NET MVC</span>
                        <span>ASP.NET Core</span>
                    </div>
                    <div class="designed__description">
                        * Works perfectly with any web app, incl.
                        <b>Angular, React.Js, Vue.Js</b> by packing the server-side in a Docker
                        container.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#">Download free trial now</a>
</section>
