<section class="trusted">
    <div class="trusted__container container">
        <h2>Trusted by 2000+ Customers all over the World</h2>
        <div class="trusted__wrapper">
            <div class="trusted__company">
                <img src="./img/db/ibm2.png" alt="" />
            </div>
            <div class="trusted__company">
                <img src="./img/db/oracle.png" alt="" />
            </div>
            <div class="trusted__company">
                <img src="./img/db/intel.png" alt="" />
            </div>
            <div class="trusted__company">
                <img src="./img/db/aveva.png" alt="" />
            </div>
            <div class="trusted__company">
                <img src="./img/db/linedata.png" alt="" />
            </div>
            <div class="trusted__company">
                <img src="./img/db/accuqery.png" alt="" />
            </div>
            <div class="trusted__company">
                <img src="./img/db/teledyne.png" alt="" />
            </div>
            <div class="trusted__company">
                <img src="./img/db/oshkoch.png" alt="" />
            </div>
            <div class="trusted__company">
                <img src="./img/db/sapien.png" alt="" />
            </div>
            <div class="trusted__company">
                <img src="./img/db/alterxy.png" alt="" />
            </div>
            <div class="trusted__company">
                <img src="./img/db/logicim.png" alt="" />
            </div>
            <div class="trusted__company">
                <img src="./img/db/qt9.png" alt="" />
            </div>
            <div class="trusted__company">
                <img src="./img/db/magnitude.png" alt="" />
            </div>
            <div class="trusted__company">
                <img src="./img/db/xl3.png" alt="" />
            </div>
        </div>
    </div>
</section>
