.analyst{

    &__container{
        padding: 120px 20px 113px;

        & > h3{
            font-family: 'Roboto-Bold', sans-serif;
            font-size: 30px;
            line-height: 42px;
            font-weight: 600;
            text-align: center;
        }

        & > span{
            display: block;
            margin-top: 40px;
            font-family: 'Roboto-Medium', sans-serif;
            font-size: 18px;
            line-height: 27px;
            font-weight: 500;
            text-align: center;
        }
    }

    &__wrapper{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }

    &__items{
        max-width: 466px;
        text-align: center;

        & > h4{
            display: block;
            margin-top: 29px;
            margin-bottom: 14px;
            font-family: 'Roboto-Bold', sans-serif;
            font-size: 22px;
            line-height: 28px;
            font-weight: 600;
        }

        & > p{
            max-width: 360px;
            display: block;
            margin: 0 auto;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 18px;
            line-height: 27px;
            font-weight: 300;
        }
    }
}