.component{
    background-color: $alabaster;

    &__container{
        padding: 120px 20px;

        & > h2{
            font-family: 'Roboto-Bold', sans-serif;
            font-size: 42px;
            line-height: 50px;
            font-weight: 600;
            text-align: center;
        }

        & > span{
            display: block;
            margin-top: 13px;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 20px;
            line-height: 27px;
            font-weight: 300;
            text-align: center;
        }
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        position: relative;
    }

    &__descr{
        max-width: 390px;

        & > h4{
            font-family: 'Roboto-Bold', sans-serif;
            font-size: 22px;
            line-height: 28px;
            font-weight: 600;
        }

        & > p{
            display: block;
            margin-top: 15px;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 18px;
            line-height: 27px;
            font-weight: 300;
        }
    }

    &__img{
        height: 500px;
        position: absolute;
        right: -83px;
    }

    &__block{

        & > span{
            display: block;
            margin-top: 15px;
            margin-bottom: 5px;
            font-family: 'Roboto-Medium', sans-serif;
            font-size: 18px;
            line-height: 27px;
            font-weight: 500;
        }

        & > p{
            display: block;
            font-family: 'Roboto-Light', sans-serif;
            font-size: 18px;
            line-height: 27px;
            font-weight: 300;
        }
    }

    &__btn{
        width: 160px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 43px;
        background-color: $mantis;
        border-radius: 5px;
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
        color: $white;
    }
}