.effective{
    padding-top: 110px;
    padding-bottom: 105px;

    &__container{
        padding: 0 20px;

        & > h2{
            text-align: center;
            font-family: 'Roboto-Bold', sans-serif;
            font-size: 30px;
            font-weight: 700;
            line-height: 1.23;
        }
    }

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__items{
        display: flex;
        max-width: 560px;
        margin-top: 60px;

        & > img{
            width: 80px;
            height: 80px;
        }
    }

    &__content{
        margin-left: 20px;

        & > span{
            display: block;
            margin-bottom: 10px;
            font-family: 'Roboto-Bold', sans-serif;
            font-size: 22px;
            font-weight: 600;
        }

        & > ul{
            margin-left: 20px;
            list-style: outside;

            & > li{
                font-family: 'Roboto-Light', sans-serif;
                font-size: 18px;
                font-weight: 300;
                line-height: 1.55;
            }
        }
    }
}