.footer{
    background-color: $mineShaft;

    &__container{
        display: flex;
        flex-direction: column;
    }

    &__wrapper{
        display: flex;
    }

    &__links{
        width: 100%;
        max-width: 260px;
        margin: 0 20px;
        padding: 60px 0;

        & > h3{
            font-family: 'Roboto-Bold', sans-serif;
            font-size: 16px;
            line-height: 1.35;
            font-weight: 600;
            text-transform: uppercase;
            color: $white;
        }

        & > ul{
            margin-top: 20px;
        }

        & > ul > li:not(:last-child){
            margin-bottom: 8px;
        }

        & > ul > li > a{
            font-family: 'Roboto-Light', sans-serif;
            font-size: 14px;
            line-height: 1.55;
            font-weight: 300;
            color: $white;
        }
    }

    &__copyright{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 40px;

        & > span{
            font-family: 'Roboto-Light', sans-serif;
            font-size: 14px;
            font-weight: 300;
            color: $white;
        }

        & > ul > li{
            display: inline-block;

            &:not(:first-child){
                margin-left: 10px;
            }

            & > a{
                font-family: 'Roboto-Regular', sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: $white;
            }
        }
    }
}