.header{

    &__artboard{
        height: 476px;
        display: flex;
        align-items: center;
        position: relative;
        background-position: center center;
        background-attachment: scroll;
        background-image: url('../img/header-art.png');
        background-size: cover;
        background-repeat: no-repeat;

        &::before{
          content: '';
          position: absolute;
          width: 100%;
          height: 185px;
          background-image: url('../img/art-bottom-bg.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          bottom: -185px;
        }
    }

    &__artboard__container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        margin-top: -80px;
    }

    &__board_items{
        max-width: 456px;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 110px;

        & > h1{
            color: $white;
            font-size: 42px;
            line-height: 1.2;
            font-family: 'Roboto-Bold',sans-serif;
            font-weight: 700;
        }


        & > a{
            max-width: 260px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 70px;
            color: $white;
            font-size: 16px;
            font-family: 'Roboto-Bold',sans-serif;
            line-height: 1.55;
            font-weight: 600;
            text-transform: uppercase;
            border-width: 1px;
            border-radius: 5px;
            background-color: $mantis;
            border-color: transparent;
            border-style: solid;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        }
    }

    &__board_subtitle{
        color: $white;
        font-size: 23px;
        font-family: 'Roboto-Light',sans-serif;
        font-weight: 300;
        line-height: 1.55;
    }

    &__board_descr{
        margin-top: 35px;
        color: $white;
        font-size: 19px;
        font-family: 'Roboto-Medium',sans-serif;
        line-height: 1.6;
        font-weight: 500;
    }

    &__board_video{
      width: 655px;
      height: 483px;
      position: relative;
      top: 183px;
      cursor: pointer;
    }

    &__iframe{
      width: 487px;
      height: 300px;
      position: absolute;
      top: 22px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &__frame--active{
      width: 100%;
      max-width: 960px;
      height: 500px;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(.9);
      transition: transform .2s ease-in-out;
      z-index: 20;
    }

    &__pointer{
      position: absolute;
      top: 150px;
    }

    &__get{
      height: 550px;
      background-image: url('../img/bg-get-started.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative;

      &::before{
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to top, rgba(9,17,130,0.30), rgba(9,17,130,0.40));
        background-image: -moz-linear-gradient(to top, rgba(9,17,130,0.30), rgba(9,17,130,0.40));
        background-image: -webkit-linear-gradient(to top, rgba(9,17,130,0.30), rgba(9,17,130,0.40));
        background-image: -o-linear-gradient(to top, rgba(9,17,130,0.30), rgba(9,17,130,0.40));
        background-image: -ms-linear-gradient(to top, rgba(9,17,130,0.30), rgba(9,17,130,0.40));
      }

      & > h1{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px 0 38px 0;
        font-family: 'Roboto-Bold',sans-serif;
        font-weight: 600;
        font-size: 52px;
        color: $white;
        letter-spacing: .5px;
        line-height: 1.17;
        position: relative;
        z-index: 1;
      }
    }

    &__online_demo{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: linear-gradient(to bottom, rgba(15,4,71,1), rgba(4,28,185,1));
      overflow: hidden;

      & > h1{
        display: block;
        margin-top: 140px;
        font-family: 'Roboto-Bold',sans-serif;
        font-size: 52px;
        font-weight: 600;
        line-height: 1.23;
        color: $white;
      }

      & > a{
        display: block;
        margin-top: 30px;
        padding: 17px 32px 17px;
        border-radius: 5px;
        background-color: $mantis;
        font-family: 'Roboto-Bold',sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: $white;
      }

      & > img{
        width: 100%;
        max-width: 960px;
        margin-top: 80px;
        display: block;
      }
    }

    &__online_subtitle{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      font-size: 22px;
      font-family: 'Roboto-Light',sans-serif;
      font-weight: 300;
      line-height: 1.55;
      color: $white;

      & > span{
        font-size: 23px;
        font-family: 'Roboto-Medium',sans-serif;
        font-weight: 500;
        }
    }

    &__analyzer{
      height: 860px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-image: linear-gradient(to bottom, rgba(211,213,255,1), rgba(236,247,255,1));
      position: relative;
      overflow: hidden;

      &_based{
        max-width: 500px;
        height: max-content;
        border-width: 30px;
        border-radius: 30px;
        background-color: $onahau;
        background-position: center center;
        border-color: $onahau;
        border-style: solid;
        box-shadow: 0px 5px 15px 0px rgba(35,98,245,0.1);
        font-family: 'Roboto-Medium',sans-serif;
        font-size: 18px;
        line-height: 1.6;
        font-weight: 400;
        text-align: left;
        color: $tolopea;
      }

      &::before{
        content: '';
        max-width: 692px;
        height: 100%;
        position: absolute;
        left: -17px;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/header-analyzer1.png');
        background-repeat: no-repeat;
        background-size: contain;
      }

      &::after{
        content: '';
        width: 690px;
        height: 100%;
        position: absolute;
        right: -15px;
        background-image: url('../img/header-analyzer2.png');
        background-repeat: no-repeat;
        background-size: contain;
      }

      &_title{
        margin-top: 30px;

        & > h1{
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 52px;
          line-height: 1.25;
          font-weight: 700;
          color: $tolopea;
        }

        & > span{
          display: block;
          margin-top: 30px;
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 20px;
          line-height: 1.55;
          font-weight: 600;
          color: $tolopea;
        }
      }

      &_subtitle{
        margin-top: 15px;
        font-family: 'Roboto-Regular',sans-serif;
        font-size: 23px;
        line-height: 1.6;
        font-weight: 400;
      }

      &_wrapper{
        display: flex;
        margin-top: 50px;
      }

      &_content{
        max-width: 420px;
        text-align: left;

        &:not(:last-child){
          margin-right: 60px;
        }

          &_title{
            font-family: 'Roboto-Regular',sans-serif;
            font-size: 18px;
            line-height: 1.6;
            font-weight: 400;
            color: $tolopea;
          }

          &_items{

            & > ul > li{
              margin-top: 15px;
              padding-left: 30px;
              background-image: url('../img/offer-check.png');
              background-repeat: no-repeat;
              background-position: 0 4px;
              background-size: 20px;
              font-family: 'Roboto-Regular',sans-serif;
              font-size: 18px;
              line-height: 1.55;
              font-weight: 400;
              color: $tolopea;
            }
          }

          &_based{

            & > h3{
              display: block;
              margin-bottom: 15px;
              font-family: 'Roboto-Bold',sans-serif;
              font-size: 22px;
              line-height: 1.6;
              font-weight: 700;
              color: $tolopea;
            }

            & > span{
              font-family: 'Roboto-Bold',sans-serif;
              font-size: 18px;
              line-height: 1.6;
              font-weight: 700;
              color: $tolopea;
            }
          }
        }
      }

    &__developers{
      height: 659px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-image: linear-gradient(to bottom, rgba(211,213,255,1), rgba(236,247,255,1));
      position: relative;
      overflow: hidden;

      &::before{
        content: '';
        max-width: 692px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/header-analyzer1.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      &::after{
        content: '';
        width: 690px;
        height: 100%;
        position: absolute;
        right: 0;
        background-image: url('../img/header-analyzer2.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      &_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        position: relative;
        z-index: 1;
      }

      &_title{
        max-width: 505px;
        margin-top: -60px;

        & > h1{
          display: block;
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 52px;
          line-height: 62px;
          font-weight: 700;
          color: $tolopea;
          text-align: left;
        }

        & > a{
          max-width: 180px;
          display: block;
          margin-top: 50px;
          padding: 17px 0;
          border-radius: 5px;
          background-color: $mantis;
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 16px;
          line-height: 19px;
          font-weight: 700;
          color: $white;
        }
      }

      &_bg{
        position: absolute;
        right: -50px;
        top: 50%;
        transform: translate(-0%, -45%);
      }
    }

    &__users{
      height: 651px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: linear-gradient(180deg, #8CC4FF 0%, #EEFBFF 100%);
      position: relative;
      overflow: hidden;

      &::before{
        content: '';
        max-width: 692px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/header-analyzer1.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      &::after{
        content: '';
        width: 690px;
        height: 100%;
        position: absolute;
        right: 0;
        background-image: url('../img/header-analyzer2.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      &_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        position: relative;
        z-index: 1;
      }

      &_title{
        max-width: 505px;
        margin-top: -60px;

        & > h1{
          display: block;
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 52px;
          line-height: 62px;
          font-weight: 700;
          color: $tolopea;
          text-align: left;
        }

        & > a{
          max-width: 180px;
          display: block;
          margin-top: 50px;
          padding: 17px 0;
          border-radius: 5px;
          background-color: $mantis;
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 16px;
          line-height: 19px;
          font-weight: 700;
          color: $white;
        }
      }

      &_bg{
        position: absolute;
        right: -50px;
        top: 50%;
        transform: translate(-0%, -45%);
      }
    }

    &__owners{
      height: 659px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: linear-gradient(180deg, #8CC4FF 0%, #EEFBFF 100%);
      position: relative;
      overflow: hidden;

      &::before{
        content: '';
        max-width: 692px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/header-analyzer1.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      &::after{
        content: '';
        width: 690px;
        height: 100%;
        position: absolute;
        right: 0;
        background-image: url('../img/header-analyzer2.png');
        background-repeat: no-repeat;
        background-size: cover;
      }

      &_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        position: relative;
        z-index: 1;
      }

      &_title{
        max-width: 505px;
        margin-top: -60px;

        & > h1{
          display: block;
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 52px;
          line-height: 62px;
          font-weight: 700;
          color: $tolopea;
          text-align: left;
        }

        & > a{
          max-width: 180px;
          display: block;
          margin-top: 79px;
          padding: 17px 0;
          border-radius: 5px;
          background-color: $mantis;
          font-family: 'Roboto-Bold',sans-serif;
          font-size: 16px;
          line-height: 19px;
          font-weight: 700;
          color: $white;
        }
      }

      &_bg{
        position: absolute;
        right: 19px;
        top: 50%;
        transform: translate(-0%, -44%);
      }
    }
}

.video__bg{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  opacity: 1;
  z-index: 19;
  transition: opacity ease-in-out .3s;
}

.logo-header {
    display: flex;
    align-items: center;
  
    > a > img {
      display: block;
      width: 56px;
      height: 56px;
      margin-top: -7px;
    }
}
  
.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    ul {
      width: 100%;
    }
  
    > ul > li {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 30px !important;
    }
  
    &.nav__container--hover > ul > li {
      height: 400px;
    }
}
  
.primary-nav {
    display: flex;
    align-items: center;
}
  
.social__links {
    display: flex;
    align-items: center;
    position: relative;
    left: -50px;
}
  
.social__svg {
    width: 30px;
    height: 30px;
}
  
.primary-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    position: relative;
}
  
.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
  
.nav__rightside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 414px;
}
  
.nav__buttons {
    display: flex;
}
  
.nav__button_call {
    width: 135px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
}
  
.nav__button_sign {
    width: 113px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: $white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #000000 !important;
    text-transform: uppercase;
    text-decoration: none;
}
  
.menu__show {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}
  
.arrow__tooltip {
    display: inline;
    vertical-align: middle;
    margin-left: 6px;
    position: relative;
    border-color: inherit;
  
    &::after {
      content: ' ';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 3px 0 3px;
      position: absolute;
      top: 45%;
      left: 0;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      border-color: transparent transparent transparent transparent;
      border-top-color: transparent;
      border-top-color: inherit;
      transition: transform 0.3s;
    }
}
  
.menu__show.menu__show--active .arrow__tooltip::after {
    transform: translateY(-50%) rotate(180deg);
}
  
.tooltip__menu {
    position: absolute;
    top: 220px;
    left: 0;
    background-color: $white;
    border-radius: 3px;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}
  
.tooltip__menu_show {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}
  
.tooltip__content {
    display: flex;
    justify-content: space-between;
    padding: 18px 0 !important;
  
    > ul {
      width: 170px;
      display: flex;
      flex-direction: column;
  
      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-color: $white;
        position: absolute;
        top: -5px;
        left: 75px;
        transform: rotate(45deg);
      }
    }
}
  
.tooltip__item {
    padding: 0 20px !important;
  
    &:not(:last-child) {
      margin-bottom: 12px !important;
    }
}
  
.subcontent__item:not(:last-child) {
    margin-bottom: 12px !important;
}
  
.tooltip__arrow {
    display: inline;
    vertical-align: middle;
    margin-left: 6px;
    margin-top: -3px;
    position: relative;
    border-color: inherit;
    color: black;
  
    &::after {
      content: ' ';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 3px 0 3px;
      position: absolute;
      top: 45%;
      left: 0;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      border-color: transparent transparent transparent transparent;
      border-top-color: transparent;
      border-top-color: transparent;
      border-top-color: inherit;
      transform: rotate(-90deg);
      transition: transform 0.3s;
    }
}
  
.subcontent, .subcontent__wrapper, .tooltip__inner_mobile, .tooltip__arrow_mobile {
  display: none;
}
  
.tooltip__inner_desktop {
  display: block;
}
  
.tooltip__item:last-child .tooltip__inner {
  margin-bottom: 2px;
}
  
.subcontent--show {
    width: 260px;
    display: block;
    position: absolute;
    left: 167px;
    top: 0;
    background-color: $gallery;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
  
.subcontent__wrapper--active {
    display: block;
  
    > ul {
      display: flex;
      flex-direction: column;
      padding: 18px !important;
    }
}
  
.subcontent__item a > span {
  color: #000 !important;
}
  
.tooltip__link {
    display: flex;
    justify-content: space-between;
    position: relative;
}
  
.social__links > a:not(:last-child) {
  margin-right: 10px;
}
  
#nav {
    width: 100%;
    height: 76px;
    display: flex;
    background-color: transparent;
    margin: 0;
    padding: 0;
    float: left;
    transition: background-color .3s ease-in-out .2s;
}
  
.nav__bg--active{
    background-color: $logan !important;
}

.header-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    left: 0;
}
  
 #nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 15px;
      font-weight: 500;
      line-height: 62px;
      display: flex;
    }
  
    li {
      margin: 0;
      padding: 0;
      background-image: none;
      line-height: normal;
      text-indent: 0;
    }
  
    a {
      color: $white;
      text-decoration: none;
      font-family: 'Roboto-Medium';
    }
}
  
.tooltip__inner, .subcontent__inner {
    color: $black;
    font-size: 14px;
    font-family: 'Roboto-Bold';
    font-weight: 600;
}
  
.hover-link, .tooltip__inner, .subcontent__inner {
    position: relative;
}
  
.hover-link {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      transform: scaleY(0);
      border-bottom: 1px solid $mantis;
      -webkit-box-shadow: inset 0px -1px 0px 0px $mantis;
      -moz-box-shadow: inset 0px -1px 0px 0px $mantis;
      box-shadow: inset 0px -1px 0px 0px $mantis;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  
    &:hover::after {
      opacity: 1;
      transform: scaleY(1);
    }
}
  
.tooltip__inner::after, .subcontent__inner::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    opacity: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    border-bottom: 1px solid $mantis;
    -webkit-box-shadow: inset 0px -1px 0px 0px $mantis;
    -moz-box-shadow: inset 0px -1px 0px 0px $mantis;
    box-shadow: inset 0px -1px 0px 0px $mantis;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
  
.tooltip__inner:hover::after, .subcontent__inner:hover::after {
    opacity: 1;
    transform: scaleY(1);
}
  
.tooltip__link:hover .tooltip__arrow::after {
    transform: rotate(90deg);
}
  
.menu__show {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 12px;
      opacity: 0;
      width: 100%;
      height: 100%;
      transform: scaleY(0);
      border-bottom: 1px solid $mantis;
      -webkit-box-shadow: inset 0px -1px 0px 0px $mantis;
      -moz-box-shadow: inset 0px -1px 0px 0px $mantis;
      box-shadow: inset 0px -1px 0px 0px $mantis;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  
    &:hover::after {
      opacity: 1;
      transform: scaleY(1);
    }
}
  
#nav li:last-child > a {
    padding-right: 0;
}
  
.logo-header > a {
    width: 56px;
    padding-left: 0 !important;
}
  
.nav-title {
    display: none;
    color: $white;
    line-height: 100%;
    padding-left: 10px;
    line-height: 1.2em;
}