.make{
    height: 600px;
    background-image: url('../img/bg-make-dev.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__container{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

    &__info{
        max-width: 500px;
        display: flex;
        flex-direction: column;

        & > h2{
            margin-bottom: 20px;
            font-family: 'Roboto-Bold',sans-serif;
            font-weight: 600;
            font-size: 30px;
            line-height: 1.4;
            color: $white;
        }

        & > a{
            width: max-content;
            display: block;
            text-decoration: underline $mantis;
            text-underline-offset: 3px;
            -webkit-text-underline-offset: 3px;
            -ms-text-underline-offset: 3px;
            font-family: 'Roboto-Light',sans-serif;
            font-weight: 300;
            font-size: 18px;
            line-height: 27px;
            color: $white;

            &:not(:first-child){
                margin-top: 10px;
            }
        }
    }
}