@media screen and (max-width: 1680px){
    .demo__img_left {
        bottom: 0;
        left: 0;
    }

    .demo__img_right{
        right: 0;
    }

    .header__analyzer::before,
    .header__developers::before,
    .header__users::before,
    .header__owners::before{
        left: -131px;
    }

    .header__analyzer::after,
    .header__developers::after,
    .header__users::after,
    .header__owners::after{
        right: -131px;
    }
}

@media screen and (max-width: 1500px){
    .demo__img_left {
        bottom: 0;
        left: -115px;
    }

    .demo__img_right{
        right: -96px;
    }

    .header__analyzer::before,
    .header__developers::before,
    .header__users::before,
    .header__owners::before{
        left: -221px;
    }

    .header__analyzer::after,
    .header__developers::after,
    .header__users::after,
    .header__owners::after{
        right: -221px;
    }
}

@media screen and (max-width: 1370px){
    .demo__img_left {
        bottom: 0;
        left: -180px;
    }

    .demo__img_right{
        right: -160px;
    }

    .project__api > img{
        width: 100%;
        margin-right: -40px;
    }

    .header__analyzer::before,
    .header__developers::before,
    .header__users::before,
    .header__owners::before{
        left: -286px;
    }

    .header__analyzer::after,
    .header__developers::after,
    .header__users::after,
    .header__owners::after{
        right: -286px;
    }
}

@media screen and (max-width: 1350px){
    .help__info{
        padding-left: 100px;
    }

    .users__comment{
        max-width: 700px;
    }

    .started__info{
        max-width: 460px;
        padding-left: 100px;
    }

    .header__analyzer::before,
    .header__developers::before,
    .header__users::before,
    .header__owners::before{
        left: -296px;
    }

    .header__analyzer::after,
    .header__developers::after,
    .header__users::after,
    .header__owners::after{
        right: -296px;
    }

    .component__img{
        max-width: 761px;
        height: 431px;
        right: -20px;
    }
}

@media screen and (max-width: 1240px){
    .project__api > img{
        margin-right: unset;
    }

    .header__analyzer::before,
    .header__developers::before,
    .header__users::before,
    .header__owners::before{
        left: -351px;
    }

    .header__analyzer::after,
    .header__developers::after,
    .header__users::after,
    .header__owners::after{
        right: -351px;
    }

    .enduser__container > img{
        margin-left: unset;
    }
}

@media screen and (max-width: 1200px){
    .nav__rightside {
        flex-basis: 399px;
    }

    .primary-nav {
        width: 92%;
    }

    .container__news {
        max-width: 960px;
        grid-gap: 50px 30px;
        margin: 50px auto 0 auto;
    }

    .btn__news {
        font-size: 14px;
    }

    #title__news {
        font-size: 18px;
    }

    #content__news {
        font-size: 12px;
    }

    .header__board_video{
        width: 557px;
        height: 441px;
    }

    .header__board_video > img{
        width: 557px;
        height: 441px;
        max-width: unset;
    }

    .header__iframe{
        width: 416px;
        height: 257px;
        top: 18px;
    }

    .header__frame--active{
        width: 80%;
        height: 80%;
        top: 50%;
    }

    .supports__slider_container{
        max-width: 960px;
    }

    .supports__slider_item,
    .users__item{
        min-width: 960px;
    }

    .supports__slider_item > img{
        max-width: 140px;
        margin: 0 10px;
    }

    .users__slider {
        max-width: 960px;
        margin: 40px auto 0 auto;
    }

    .users__item{
        padding-left: 80px;
    }

    .users__items {
        display: flex;
    }

    .trusted__wrapper{
        max-width: 960px;
        margin: 40px auto 0 auto;
    }

    .trusted__company{
        max-width: 192px;
        padding: 10px;
    }

    .advantages,
    .project__api,
    .analyzer__wrapper,
    .header__owners_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .advantages__items{
        max-width: 960px;
    }

    .header__board_items{
        max-width: 397px;
        margin-left: 60px;
    }

    .header__board_items > h1{
        font-size: 36px;
        line-height: 1.15;
    }

    .header__board_subtitle,
    .header__analyzer_subtitle,
    .designed__content > span{
        font-size: 22px;
    }

    .header__board_descr,
    .demo__features_items > ul > li,
    .header__analyzer_content_title,
    .header__analyzer_content_items > ul > li{
        font-size: 16px;
    }

    .tabs__items{
        max-width: 960px;
    }

    .analyzer__grid{
        width: 100%;
        max-width: 960px;
    }

    .tabs__content--active{
        padding-left: 160px;
    }

    .info__service_block{
        max-width: 209px;
    }

    .demo__items_card,
    .demo__items_card > img {
        max-width: 260px;
    }

    .demo__get_video,
    .demo__app_items,
    .tabs__content_projects,
    .effective__wrapper,
    .about__container{
        justify-content: center;
    }

    .demo__get_iframe{
        max-width: 460px;
        height: 259px;
    }

    .demo__get_iframe:first-child{
        margin-right: 20px;
    }

    .tabs__image_projects{
        margin-right: 40px;
    }

    .demo__app_items > img,
    .demo__app_info,
    .demo__app_items-middle .demo__app_info,
    .effective__items{
        max-width: 460px;
    }

    .tabs__title_projects{
        max-width: 940px;
    }

    .tabs__list_projects,
    .tabs__image_projects > img{
        max-width: 410px;
    }

    .tabs__info_projects,
    .tabs__list > ul > li,
    .tabs__list_projects > span,
    .effective__content > ul > li,
    .about__link > span,
    .demo__app_descr,
    .header__analyzer_content_based > span,
    .header__analyzer_content_based{
        font-size: 16px;
    }

    .tabs__content--active{
        padding-left: 120px;
    }

    .tabs__content_projects.tabs__content--active{
        padding-left: 0;
    }

    .effective__items:nth-child(odd){
        margin-right: 35px;
    }

    .about__items,
    .about__link > img{
        max-width: 300px;
    }

    .about__link > img{
        min-height: 330px;
    }

    .about__items:not(:last-child){
        margin-right: 20px;
    }

    .about__link > h3{
        font-size: 24px;
    }

    .footer__wrapper{
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
    }

    .footer__links > h3{
        font-size: 14px;
    }

    .footer__links > ul > li > a{
        font-size: 12px;
    }

    .popup__modal{
        max-width: 460px;
    }

    .demo__img_left {
        width: 533px;
        left: -458px;
    }

    .demo__img_right{
        width: 374px;
        right: 130px;
    }

    .demo__features_wrapper{
        margin-left: -150px;
    }

    .demo__features_title{
        font-size: 28px;
    }

    .header__online_demo > h1,
    .header__analyzer_title > h1,
    .header__developers_title > h1{
        font-size: 42px;
    }

    .demo__features{
        height: 620px;
    }

    .demo__features_wrapper{
        margin-top: 70px;
    }

    .demo__features_items > ul > li{
        margin-top: 10px;
    }

    .demo__features_items > span{
        margin-top: 25px;
    }

    .demo__features_items > a{
        margin-top: 35px;
    }

    .project__block{
        max-width: 720px;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .started{
        background-position: center center;
    }

    .header__analyzer::before,
    .header__developers::before,
    .header__users::before,
    .header__owners::before{
        left: -371px;
    }

    .header__analyzer::after,
    .header__developers::after,
    .header__users::after,
    .header__owners::after{
        right: -371px;
    }

    .analyzer__item{
        max-width: 240px;
        padding: 10px;
    }

    .header__analyzer_title > span,
    .header__analyzer_content_based > h3{
        font-size: 19px;
    }

    .header__analyzer_based{
        max-width: 425px;
        z-index: 2;
    }

    .header__analyzer_content:not(:last-child) {
        margin-right: 20px;
    }

    .header__analyzer{
        height: 770px;
    }

    .header__analyzer_content{
        max-width: 380px;
    }

    .designed__img {
        width: 160px;
        height: 160px;
    }

    .designed__content {
        margin: 0px 0 0 20px;
    }

    .offers__slider-button-next,
    .offers__slider-button-prev{
        top: 31%;
    }

    .header__developers,
    .header__users,
    .header__owners{
        height: 876px;
    }

    .header__developers_wrapper,
    .component__wrapper,
    .header__users_wrapper{
        flex-direction: column;
        align-items: center;
    }

    .header__developers_title{
        margin-top: unset;
    }

    .header__developers_bg{
        max-width: 670px;
        height: 479px;
        margin-top: 40px;
        position: unset;
        transform: unset;
    }

    .header__developers_title,
    .header__users_title,
    .header__owners_title{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__developers_title > a,
    .header__users_title > a,
    .header__owners_title > a{
        max-width: 180px;
        margin-top: 25px;
        padding: 17px 31px;
    }

    .business__items{
        max-width: 760px;
        background-size: contain;
    }

    .business__violet{
        padding: 23px 45px;
    }

    .business__blue{
        margin-top: -76px;
        padding: 23px 45px;
    }

    .business__aqua{
        margin-top: -70px;
        padding: 13px 45px;
    }

    .business__circle{
        right: unset;
        left: 500px;
    }

    .business__items > span{
        max-width: 400px;
        font-size: 16px;
        line-height: 25px;
    }

    .business__items > span > b{
        margin-top: 5px;
    }

    .business__wrapper{
        margin-left: 10px;
    }

    .business__container{
        padding: 90px 20px 70px 20px;
    }

    .demo__advantages_container{
        padding: 90px 20px 89px 42px;
    }

    .demo__advantages_item > img{
        width: 80px;
        height: 80px;
    }

    .demo__advantages_item{
        flex-direction: column;
    }

    .demo__advantages_item_title{
        margin-top: 10px;
        margin-left: unset;
    }

    .demo__advantages_item_title > h1,
    .header__users_title > h1,
    .header__owners_title > h1,
    .safe__time_descr > h1{
        font-size: 42px;
    }

    .header__users_title > h1,
    .header__owners_title > h1{
        line-height: 50px;
    }

    .demo__advantages_content{
        margin-left: 50px;
    }

    .demo__advantages_content > h3,
    .analyst__items > h4,
    .component__descr > h4,
    .enduser__wrapper > h4{
        font-size: 20px;
    }

    .analyst__items > h4{
        line-height: 28px;
    }

    .component__descr > h4,
    .enduser__wrapper > h4{
        line-height: 26px;
    }

    .demo__advantages_content_description,
    .analyst__items > p,
    .component__descr > p,
    .component__block > span,
    .level__making_descr > p,
    .enduser__wrapper > p,
    .module__software_descr > p,
    .safe__time_descr > span{
        font-size: 16px;
    }

    .analyst__items > p,
    .component__descr > p,
    .component__block > span,
    .level__making_descr > p,
    .enduser__wrapper > p,
    .module__software_descr > p,
    .safe__time_descr > span{
        line-height: 25px;
    }
    
    .demo__advantages_item_title > span{
        font-size: 22px;
    }

    .demo__advantages_btns{
        justify-content: unset;
        margin-left: 270px;
    }

    .component__img{
        width: calc(100% + 30px);
        height: 100%;
        position: unset;
    }

    .component__container{
        padding: 90px 20px;
    }

    .component__descr{
        max-width: 900px;
        margin-bottom: 60px;
    }

    .component__btn{
        margin: 43px auto 0;
    }

    .component__descr > h4,
    .component__descr > p,
    .component__block{
        margin-left: 142px;
    }

    .header__users_title,
    .header__owners_title{
        margin-top: 30px;
    }

    .header__users_bg{
        width: 100%;
        max-width: 720px;
        height: 100%;
        margin-top: 45px;
        position: unset;
        transform: unset;
    }

    .header__owners_bg{
        width: 100%;
        max-width: 666px;
        height: 100%;
        margin-top: 45px;
        position: unset;
        transform: unset;
    }

    .analyst__items > img{
        max-width: 300px;
    }

    .component__container > h2,
    .level__container > h2,
    .module__software_descr > h2{
        font-size: 35px;
        line-height: 40px;
    }

    .component__container > span,
    .level__container > span{
        font-size: 18px;
        line-height: 24px;
    }

    .enduser__container > img{
        max-width: 460px;
        height: 315px;
    }

    .enduser__wrapper{
        max-width: 457px;
        padding-left: 22px;
        padding-top: 22px;
    }

    .analyst__container,
    .enduser__container{
        padding: 90px 20px 76px;
    }

    .level__container,
    .module__software_container,
    .safe__time_container{
        padding: 90px 42px 86px;
    }

    .module__software_img{
        max-width: 380px;
    }

    .safe__time_item > img{
        width: 80px;
        height: 80px;
    }

    .safe__time_item{
        max-width: 530px;

        &:not(:last-child){
            margin-right: 30px;
        }
    }

    .header__owners_title > h1{
        text-align: center;
    }
}

@media screen and (max-width: 1080px){
    .primary-nav {
        width: 95%;
    }

    .header__online_demo > img{
        max-width: 819px;
    }

    .header__analyzer::before,
    .header__developers::before,
    .header__users::before,
    .header__owners::before{
        left: -180px;
    }

    .header__analyzer::after,
    .header__developers::after,
    .header__users::after,
    .header__owners::after{
        right: -220px;
    }

    .header__analyzer_content:not(:last-child) {
        margin-right: 10px;
    }

    .header__analyzer_title{
        margin-top: 90px;
    }
}

@media screen and (max-width: 1024px){
    .primary-nav {
        width: 98%;
        margin-left: 0;
    }

    .header__board_items{
        margin-left: 8px;
    }

    .demo__img_left,
    .analyst__container > span{
        display: none;
    }

    .demo__img_right{
        right: 40px;
    }

    .started__info{
        padding-left: 70px;
    }

    .header__analyzer::before{
        left: -208px;
    }

    .header__analyzer::after{
        right: -249px;
    }

    .header__analyzer_title > span{
        margin-top: 20px;
    }

    .make{
        background-image: url('../img/bg-make-dev-pad.png');
    }

    .make__users{
        background-image: url('../img/bg-make-usr-pad.png');
    }

    .make__info{
        max-width: 303px;
        margin-left: 39px;
    }

    .make__users_info{
        max-width: 360px;
        margin-left: 39px;
    }

    .component__descr{
        max-width: 800px;
    }

    .component__block,
    .component__descr > h4,
    .component__descr > p{
        margin-left: 92px;
    }

    .make__users_descr > span,
    .make__users_descr,
    .make__users_descr > a{
        display: unset;
    }
}

@media screen and (max-width: 980px){
    #logo,
    .logo-header {
        display: none;
    }

    #nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 100px;
        font-size: 100%;
        text-align: center;
        overflow: unset;
    }
    #primary-nav {
        width: 100%;
        margin-left: 0;
        transition: max-height 0.2s;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #9ea0c1;
        overflow: hidden;
        max-height: 0;
    }
    #primary-nav.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 100%;
        overflow: auto;
    }

    .nav__rightside,
    .nav__buttons {
        flex-direction: column-reverse;
    }

    .nav__button_call,
    .nav__button_sign {
        width: unset;
        height: unset;
        display: block;
        margin-left: 0;
        border: unset;
        background-color: transparent;
        text-align: center;
        color: #fff !important;
    }

    .tooltip__menu {
        width: 100%;
        display: block;
        margin-top: unset !important;
        background-color: transparent;
        position: relative;
        top: 0;
        left: unset;
        opacity: 1;
        visibility: visible;
    }

    .tooltip__wrapper,
    .hover-link {
        width: 100%;
        max-width: 400px;
    }

    .arrow__tooltip,
    .tooltip__inner_desktop {
        display: none;
    }

    .tooltip__inner_mobile {
        display: block;
    }

    .tooltip__inner,
    .subcontent__inner,
    .subcontent__item a > span,
    .tooltip__arrow {
        color: #fff !important;
    }

    .tooltip__content > ul::before {
        content: unset;
        display: none;
        position: unset;
    }

    .tooltip__item:last-child,
    .subcontent__item:last-child {
        margin-bottom: unset !important;
    }

    .subcontent__wrapper ul {
        margin-top: unset !important;
    }

    .nav__button_call {
        margin-top: 20px;
    }

    #nav li:not(:last-child) > a {
        margin-right: unset;
    }

    .primary-nav {
        justify-content: unset;
    }

    .nav__rightside {
        width: 100%;
        height: 100%;
        flex-basis: unset;
    }

    #primary-nav li,
    #primary-nav li.service {
        display: block;
        float: none;
    }

    #primary-nav li a.service {
        border-width: 0;
    }

    #primary-nav li {
        display: flex;
        justify-content: center;
    }

    .not__submenu {
        font-weight: 500;
    }

    .burger__menu {
        width: 28px;
        height: 20px;
        display: flex;
        align-items: center;
        background: transparent;
        position: relative;
        padding: 0;
        top: 46%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        z-index: 999;
        cursor: pointer;
    }
    .burger__menu--span {
        display: block;
        position: absolute;
        width: 100%;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        height: 3px;
        background-color: #fff;
    }

    .burger__menu--span:nth-child(1) {
        top: 0;
    }

    .burger__menu--span:nth-child(2),
    .burger__menu--span:nth-child(3) {
        top: 8px;
    }

    .burger__menu--span:nth-child(4) {
        top: 16px;
    }

    .burger__menu--active .burger__menu--span:nth-child(1) {
        top: 8px;
        width: 0%;
        left: 50%;
    }

    .burger__menu--active .burger__menu--span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .burger__menu--active .burger__menu--span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .burger__menu--active .burger__menu--span:nth-child(4) {
        top: 8px;
        width: 0%;
        left: 50%;
    }

    .tooltip__content > ul {
        margin-top: unset !important;
    }

    .nav-title {
        display: flex;
        align-items: center;
        padding: 0;
        position: relative;
        z-index: 999;
    }

    .nav__button_call,
    .nav__button_sign {
        position: relative;
    }

    .nav__button_call::after,
    .nav__button_sign::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        opacity: 0;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        border-bottom: 1px solid #7bc866;
        -webkit-box-shadow: inset 0px -1px 0px 0px #7bc866;
        -moz-box-shadow: inset 0px -1px 0px 0px #7bc866;
        box-shadow: inset 0px -1px 0px 0px #7bc866;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .nav__button_call:hover::after,
    .nav__button_sign:hover:after {
        opacity: 1;
        transform: scaleY(1);
    }

    .tooltip__content > ul::before {
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }

    .social__links {
        margin: 30px 0 40px;
    }

    #primary-nav li:last-child {
        margin-bottom: 20px;
    }

    .nav__container > ul > li:nth-child(2) {
        margin-top: -3px !important;
    }

    .tooltip__content {
        flex-direction: column;
    }

    .subcontent--show {
        width: 100%;
        max-width: 400px;
        position: unset;
        left: 0;
        z-index: 1;
        background-color: transparent;
    }

    .subcontent__wrapper > ul {
        text-align: left !important;
    }

    .nav__container {
        height: 100%;
        flex-direction: column;
        padding: 100px 44px 0;
    }

    .nav__container > ul {
        margin-top: 0 !important;
    }

    .nav__buttons {
        width: 100%;
        max-width: 450px;
    }

    #nav a {
        color: #fff;
        text-decoration: none;
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 14px;
    }

    .subcontent__item {
        flex-direction: column;
    }

    .tooltip__inner {
        width: 100%;
    }

    .tooltip__inner--open::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        opacity: 1;
        width: 100%;
        height: 100%;
        transform: scaleY(1);
        border-bottom: 1px solid #7bc866;
        -webkit-box-shadow: inset 0px -1px 0px 0px #7bc866;
        -moz-box-shadow: inset 0px -1px 0px 0px #7bc866;
        box-shadow: inset 0px -1px 0px 0px #7bc866;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .tooltip__arrow_mobile {
        display: inline;
        vertical-align: middle;
        margin-left: 6px;
        margin-top: -3px;
        position: relative;
        border-color: inherit;
        color: #fff;
    }

    .tooltip__arrow_mobile::after {
        content: ' ';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 3px 0 3px;
        position: absolute;
        top: 30%;
        left: 0;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        border-color: transparent transparent transparent transparent;
        border-top-color: transparent;
        border-top-color: transparent;
        border-top-color: inherit;
        transform: rotate(0);
        transition: transform 0.3s;
    }

    .tooltip__arrow_mobile::after {
        transform: rotate(0deg);
    }

    .tooltip__inner--active .tooltip__arrow_mobile::after {
        transform: rotate(180deg);
    }

    .tooltip__link {
        justify-content: center;
    }

    .subcontent__wrapper--active {
        display: flex;
        margin-top: 20px;
    }

    .tooltip__arrow {
        display: none;
    }

    .tooltip__item:last-child .tooltip__inner {
        margin-bottom: unset;
    }

    .subcontent__item a > span {
        display: block;
        width: 100% !important;
    }

    .menu__show_hide {
        display: none;
    }

    .tooltip__item {
        padding-bottom: 7px !important;
    }

    .hover-link::after {
        bottom: -2px;
    }

    .subcontent__inner::after {
        left: -30px;
    }

    .nav__container > ul > li {
        height: unset;
        display: unset;
        position: unset;
        padding-left: unset !important;
    }

    .social__links {
        position: unset;
    }

    .container__news {
        display: flex;
        flex-direction: column;
    }

    .news {
        padding: 0;
    }
    .news .data {
        width: 100%;
    }

    .header__artboard__container{
        flex-direction: column;
    }

    .header__board_items{
        text-align: center;
        margin-top: 80px;
    }

    .header__board_items > a{
        max-width: 100%;
    }

    .header__artboard{
        height: 760px;
        align-items: unset;
    }

    .demo__items{
        flex-direction: column;
        align-items: center;
    }

    .demo__items_card,
    .demo__items_card > img {
        max-width: 260px;
    }

    .demo__items_card:not(:last-child){
        margin-bottom: 30px;
    }

    .offers__wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }

    .tabs__title_mobile,
    .tabs__content{
        width: 100%;
        max-width: 460px;
        display: flex;
        padding-left: unset;
    }

    .tabs__title_mobile{
        margin-left: -15px;
        margin-bottom: 10px;
    }

    .tabs__content{
        margin-bottom: 40px;
    }

    .tabs__image > img{
        width: 100px;
        max-width: unset;
        height: 100px;
    }

    .tabs__title,
    .tabs__content.tabs__content_projects{
        display: none;
    }

    .tabs__content_projects.tabs__content--active{
        max-width: 100%;
        display: flex;
    }

    .tabs__image{
        margin-right: unset;
    }

    .tabs__container{
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .tabs__list {
        padding-left: 40px;
    }

    .tabs__list > ul > li{
        font-size: 16px;
    }
    .tabs,
    .info__service,
    .news{
        padding: 80px 20px 80px 20px;
    }

    .demo__container > h2{
        max-width: 600px;
        padding: 0 20px;
    }

    .offers,
    .users,
    .trusted,
    .help{
        padding: 0 20px;
    }

    .supports{
        padding: 0 20px 100px 20px;
    }

    .footer{
        padding: 40px 20px;
    }

    .supports__slider_item{
        min-width: 100%;
    }

    .offers__slider-button-prev{
        transform: translate(-50%,-28%);
    }

    .offers__slider-button-next{
        transform: translate(0,-28%);
    }

    .users__wrapper > h2{
        max-width: 640px;
        margin: 0 auto;
    }

    .users__slider {
        max-width: 640px;
    }

    .users__item {
        min-width: 100%;
    }

    .tabs__title.tabs__title_projects{
        display: flex;
    }

    .tabs__title_item_projects{
        max-width: 115px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .effective__items:nth-child(odd){
        margin-right: 15px;
    }

    .tabs__image_projects{
        margin-right: 10px;
    }

    .about__items:not(:last-child){
        margin-right: 10px;
    }

    .effective__items{
        max-width: 440px;
    }

    .demo__img_right{
        right: 15px;
    }

    .header__analyzer::before,
    .header__developers::before,
    .header__users::before,
    .header__owners::before{
        left: -230px;
    }

    .header__analyzer::after,
    .header__developers::after,
    .header__users::after,
    .header__owners::after{
        right: -271px;
    }

    .header__analyzer_content:not(:last-child) {
        margin-right: 20px;
    }

    .trusted__wrapper{
        max-width: 640px;
        grid-template-columns: repeat(3, 1fr);
    }

    .trusted__company{
        max-width: 213px;

        &:nth-child(-n+5) {
            border-top: 1px solid $alto;
        }
    
        &:nth-child(5n) {
            border-right: 1px solid $alto;
        }
    
        &:nth-child(-n+3) {
            border-top: 1px solid transparent;
        }
    
        &:nth-child(3n) {
            border-right: unset;
        }

        &:nth-child(6n) {
            border-bottom: 1px solid $alto;
            margin-bottom: -1px;
        }
    }

    .offers__slider-button-next,
    .offers__slider-button-prev{
        top: 29%;
    }

    .header__developers_title > h1{
        font-size: 36px;
    }

    .business__items{
        display: flex;
        justify-content: center;
        flex-direction: unset;
        align-items: center;
        max-width: 100%;
        background-image: unset;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    .business__violet{
        height: 185px;
        background: linear-gradient(180deg, #FFFFFF 0%, #A90AFD 100%);

        &::before{
            display: block;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 1px;
            background-color: transparent;
            border-bottom: 185px solid $white;
            border-right: 50px solid transparent;
        }

        &::after{
            display: block;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 1px;
            background-color: transparent;
            border-bottom: 185px solid $white;
            border-left: 50px solid transparent;
        }
    }

    .business__blue{
        height: 185px;
        margin-top: unset;
        background: linear-gradient(180deg, #FFFFFF 0%, #3391FE 100%);

        &::before{
            display: block;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 50px;
            background-color: transparent;
            border-bottom: 185px solid $white;
            border-right: 50px solid transparent;
        }

        &::after{
            display: block;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 50px;
            background-color: transparent;
            border-bottom: 185px solid $white;
            border-left: 50px solid transparent;
        }

        & > span{
            max-width: 367px;
        }
    }

    .business__aqua{
        align-items: flex-start;
        height: 342px;
        margin-top: unset;
        background: linear-gradient(180deg, #FFFFFF 0%, #51FADD 54.09%);

        &::before{
            display: block;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100px;
            background-color: transparent;
            border-bottom: 342px solid $white;
            border-right: 100px solid transparent;
        }

        &::after{
            display: block;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100px;
            background-color: transparent;
            border-bottom: 342px solid $white;
            border-left: 100px solid transparent;
        }

        & > span{
            max-width: 285px;
            margin-top: 17px;
        }
    }

    .business__circle{
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,111%);
    }

    .business__container{
        padding: 90px 20px 250px;
    }

    .demo__advantages_wrapper,
    .level__making,
    .level__tabs{
        flex-direction: column;
    }

    .demo__advantages_item{
        flex-direction: unset;
    }

    .demo__advantages_item_title{
        width: 100%;
        margin-left: 32px;
    }

    .demo__advantages_content{
        margin-top: 26px;
        margin-left: unset;
    }

    .demo__advantages_item_title > span{
        margin-top: 2px;
    }

    .demo__advantages_btns{
        justify-content: center;
        margin-left: unset;
    }

    .level__container{
        padding: 71px 30px 71px;
    }

    .component__container{
        padding: 75px 30px 75px;
    }

    .analyst__container,
    .enduser__container{
        padding: 72px 20px 69px;
    }

    .level__making > h3,
    .level__tabs > h3{
        max-width: 100%;
        margin-bottom: 21px;
    }

    .level__making_descr,
    .level__tabs_descr{
        max-width: 100%;
    }

    .level__tabs_h4{
        max-width: 94%;
    }

    .level__tabs_item > p{
        width: 100%;
    }
}

@media screen and (max-width: 970px){
    .advantages__items{
        max-width: 600px;
        flex-direction: column;
    }

    .advantages__question,
    .advantages__answer{
        margin-left: unset;
    }
}

@media screen and (max-width: 960px){
    .tabs__container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tabs__image{
        width: 50px;
        height: 50px;
    }

    .tabs__image > img{
        width: 50px;
        height: 50px;
    }

    .info__service{
        margin: unset;
    }

    .info__content > img{
        width: 652px;
        height: 533px;
    }

    .bottom__info{
        max-width: 180px;
        bottom: -50px;
    }

    .info__service_block > span,
    .project__block > p,
    .project__source{
        font-size: 16px;
    }

    .info__service_block_title{
        margin-bottom: 5px;
    }

    .info__service_block_title > img{
        width: 25px;
        height: 25px;
    }

    .info__service_block_title > strong{
        font-size: 20px;
    }

    .left__info{
        max-width: 147px;
        top: unset;
        bottom: 0;
    }

    .left__info img{
        margin-right: 0;
        position: relative;
        top: -35px;
    }

    .left__info strong{
        position: relative;
        left: -25px;
    }

    .right__info{
        max-width: 130px;
        top: unset;
        bottom: 0;
    }

    .right__info strong{
        position: relative;
        left: -10px;
    }

    .right__info img{
        margin-right: 0;
        position: relative;
        top: -35px;
        right: -90px;
    }

    .info__service > h2{
        max-width: 600px;
    }

    .offers__container,
    .demo__get_video{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .offers__wrapper{
        max-width: 670px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .offers__title,
    .project__block > h3,
    .header__analyzer_subtitle{
        font-size: 20px;
    }

    .offers__items > ul > li{
        font-family: 'Roboto-Light', sans-serif;
        font-size: 16px;
        font-weight: 300;
    }

    .offers__items:last-child{
        width: 100%;
        max-width: unset;
        grid-column: span 2;
    }

    .offers__items > ul > li::before{
        width: 20px;
        height: 20px;
        background-position: center;
    }

    .supports__slider > h2{
        max-width: 600px;
        text-align: center;
    }

    .supports__slider_container{
        max-width: 640px;
        height: 238px;
    }

    .supports__slider_item{
        display: flex;
        flex-wrap: wrap;
        max-width: 640px;
    }

    .supports__slider_item > img{
        max-width: 150px;
    }

    .help__info{
        padding-left: 150px;
    }

    .container__news{
        padding: 0;
    }

    .footer__wrapper{
        flex-wrap: wrap;
    }

    .header__get{
        text-align: center;
    }

    .header__get > h1{
        max-width: 600px;
        margin: 0 auto;
    }

    .demo__get_iframe:first-child{
        margin-right: 0;
        margin-bottom: 30px;
    }

    .demo__get_iframe {
        max-width: 600px;
        height: 338px;
    }

    .demo__get_subtitle,
    .demo__app_subtitle,
    .demo__projects_subtitle{
        max-width: 600px;
        text-align: center;
    }

    .demo__app_items,
    .header__analyzer_wrapper{
        flex-direction: column;
    }

    .demo__app_items > img{
        width: 100%;
        max-width: 600px;
        margin-right: 0;
    }

    .demo__app_info,
    .demo__app_items-middle .demo__app_info{
        max-width: 600px;
    }

    .demo__app_info{
        margin-top: 30px;
    }

    .demo__app_items-middle .demo__app_info{
        margin-top: unset;
        margin-bottom: 30px;
    }

    .tabs__title.tabs__title_projects{
        display: none;
    }

    .tabs__select_mobile{
        width: 100%;
        max-width: 600px;
        display: block;
        position: relative;
    }

    .tabs__content_projects.tabs__content--active{
        flex-direction: column;
        padding-right: unset;
    }

    .tabs__image_projects,
    .tabs__list.tabs__list_projects,
    .tabs__select_item{
        margin: 0 auto;
    }

    .tabs__image_projects > img,
    .tabs__list.tabs__list_projects{
        width: 100%;
        height: 100%;
        max-width: 560px;
    }

    .tabs__list.tabs__list_projects{
        padding-left: unset;
    }

    .effective__wrapper{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .effective__items{
        max-width: 600px;
        margin-top: 40px;
    }

    .effective__items > img{
        width: 50px;
        height: 50px;
    }

    .effective__items:nth-child(odd){
        margin-right: unset;
    }

    .help__answer{
        max-width: 600px;
    }

    .about__items:not(:last-child){
        margin-right: unset;
    }

    .about__link > img{
        max-width: 280px;
        min-height: 308px;
    }

    .about__container{
        display: grid;
        grid-template-columns: 280px 280px;
        grid-gap: 60px 50px;
    }

    .project__api > img{
        max-width: 640px;
    }

    .header__online_demo > h1{
        font-size: 36px;
        line-height: 1.25;
    }

    .header__online_subtitle{
        max-width: 500px;
        display: block;
        text-align: center;
        font-size: 19px;
        letter-spacing: 0.5px;
    }

    .header__online_subtitle > span{
        font-size: 19px;
    }

    .header__online_demo > a{
        padding: 15px 40px;
        font-size: 14px;
    }

    .header__online_demo > img{
        max-width: 613px;
        margin-top: 60px;
    }

    .demo__features{
        height: unset;
        flex-direction: column-reverse;
        align-items: center;
    }

    .demo__features_wrapper{
        margin-left: 40px;
    }

    .demo__img_left{
        width: 640px;
        display: block;
        position: unset;
        left: 0;
    }

    .demo__img_right {
        top: 30%;
        right: -335px;
    }

    .demo__features_items > span{
        max-width: 100%;
    }

    .demo__features_items > a{
        max-width: 110px;
        margin: 30px auto;
        padding: 8px 0;
    }

    .project__block{
        max-width: 502px;
        margin-left: unset;
    }

    .project__api{
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .started{
        height: 760px;
    }

    .started__mobile{
        background-image: url('../img/bg-started-mobile.png');
        background-position: center center;
    }

    .started__info{
        max-width: 500px;
        margin: 0 auto;
        padding-left: unset;
        text-align: center;
    }

    .started__info > a{
        width: 150px;
        height: 40px;
        margin: 0 auto;
        margin-top: 50px;
        font-size: 14px;
    }

    .started__container{
        align-items: unset;
        padding-top: 80px;
    }

    .started__info > h2{
        line-height: 1.25;
    }

    .started__info > p{
        font-size: 16px;
    }

    .header__analyzer_title > h1{
        font-size: 36px;
    }

    .header__analyzer_title > span{
        font-size: 18px;
    }

    .header__analyzer{
        height: 980px;
    }

    .header__analyzer::before,
    .header__developers::before,
    .header__users::before,
    .header__owners::before{
        left: -265px;
    }

    .header__analyzer::after,
    .header__developers::after,
    .header__users::after,
    .header__owners::after{
        right: -290px;
    }

    .header__analyzer_content:not(:last-child){
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header__analyzer_content,
    .header__analyzer_based{
        max-width: 515px;
    }

    .header__analyzer_wrapper{
        margin-top: 30px;
    }

    .analyzer__grid {
        max-width: 640px;
        grid-template-columns: repeat(3, 1fr);
    }

    .analyzer__item{

        &:nth-last-child(-n+4) {
            border-bottom: 1px solid $alto;
        }

        &:nth-child(4n+4) {
            border-right: 1px solid $alto;
            border-left: 1px solid $alto;
        }

        &:nth-child(4n+1) {
            border-right: 1px solid $alto;
            border-left: 1px solid $alto;
        }

        &:nth-child(4n+2) {
            border-right: 1px solid $alto;
        }

        &:nth-child(3n+3) {
            border-right: 0;
            border-left: 0;
        }

        &:nth-child(3n+1) {
            border-right: 0;
            border-left: 0;
        }

        &:nth-last-child(-n+1) {
            border-bottom: 0;
            border-right: 1px solid $alto;
            margin-right: -1px;
        }
    }

    .designed__wrapper{
        width: unset;
        flex-direction: column;
    }

    .designed__item:last-child{
        margin-top: 40px;
    }

    .offers__slider-button-next,
    .offers__slider-button-prev{
        top: 28%;
    }

    .footer__links{
        max-width: 160px;
    }
}

@media screen and (max-width: 800px){
    .demo__img_right{
        display: none;
    }

    .header__online_demo > h1{
        margin-top: 120px;
    }

    .header__analyzer::before,
    .header__developers::before,
    .header__users::before,
    .header__owners::before{
        left: -340px;
    }

    .header__analyzer::after,
    .header__developers::after,
    .header__users::after,
    .header__owners::after{
        right: -380px;
    }

    .demo__advantages_content{
        margin-top: 35px;
    }

    .make{
        height: 710px;
        background-image: url('../img/bg-make-dev-mobile.png');
    }

    .make__users{
        height: 780px;
        background-image: url('../img/bg-make-usr-mobile.png');
    }

    .make__container{
        justify-content: center;
        align-items: unset;
    }
    
    .make__info{
        width: 80%;
        max-width: 100%;
        margin-top: 75px;
        margin-left: unset;
        text-align: center;
    }

    .analyst__wrapper,
    .module__software_item,
    .module__software_item:nth-child(2n){
        flex-direction: column;
        align-items: center;
    }

    .analyst__items{

        &:last-child{
            margin-top: 40px;
        }
    }

    .analyst__items > img{
        max-width: 338px;
    }

    .analyst__items > h4{
        margin-top: 20px;
        margin-bottom: 8px;
    }

    .analyst__items > p{
        max-width: 100%;
    }

    .component__descr {
        max-width: 700px;
    }

    .component__block,
    .component__descr > h4,
    .component__descr > p{
        margin-left: unset;
    }

    .make__users_info{
        max-width: 90%;
        margin-left: unset;
        padding-top: 75px;
        text-align: center;
    }

    .make__users_info > h2{
        margin-top: 44px;
    }

    .enduser__container{
        flex-direction: column-reverse;
        align-items: center;
    }

    .enduser__wrapper{
        max-width: 80%;
        text-align: center;
        margin-bottom: 47px;
        padding-left: unset;
        padding-top: unset;
    }

    .enduser__wrapper > a{
        margin: 30px auto 0;
    }

    .enduser__container > img{
        width: calc(100% + 25px);
        max-width: 580px;
        height: 100%;
    }

    .header__owners_title > h1,
    .header__users_title > h1{
        font-size: 36px;
        line-height: 50px;
    }

    .module__software_item:not(:first-child){
        margin-top: 30px;
    }

    .module__software_descr > h2{
        margin-top: 25px;
        font-size: 28px;
        line-height: 34px;
    }

    .safe__time_container{
        padding: 90px 10px 76px;
    }

    .module__software_container > h3,
    .safe__time_container > h3{
        font-size: 22px;
        line-height: 33px;
    }

    .safe__time_container > h3{
        max-width: 560px;
    }

    .safe__time_wrapper{
        flex-direction: column;
        align-items: center;
    }

    .safe__time_item{
        width: 100%;
        max-width: 100%;
        justify-content: center;
    }

    .safe__time_item:not(:last-child) {
        margin-right: unset;
        margin-bottom: 40px;
        padding-bottom: 33px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .safe__time_descr{
        max-width: 400px;
    }

    .module__software_item:nth-child(2n+1) .module__software_img{
        margin-right: unset;
    }

    .module__software_item:nth-child(2n) .module__software_img{
        margin-left: unset;
    }
}

@media screen and (max-width: 700px){
    .offers__items{
        padding: 0;
    }

    .offers__slider-button-next {
        transform: translate(0,-20%);
    }

    .offers__slider-button-prev {
        transform: translate(-50%,-20%);
    }

    .help__info{
        padding-left: 30px;
    }

    .footer__links{
        padding: 20px 0;
    }

    .footer__copyright{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
        margin-bottom: unset;
    }

    .footer__copyright > ul{
        margin-top: 25px;
    }

    .trusted__wrapper{
        max-width: 600px;
    }

    .trusted__company{
        max-width: 200px;
    }

    .header__analyzer::before,
    .header__developers::before,
    .header__users::before,
    .header__owners::before{
        left: -400px;
    }

    .header__analyzer::after,
    .header__developers::after,
    .header__users::after,
    .header__owners::after{
        right: -420px;
    }

    .offers__slider-button-next,
    .offers__slider-button-prev{
        top: 29%;
    }

    .supports__slider > span{
        text-align: center;
    }

    .header__developers_bg{
        width: 100%;
        height: 100%;
        max-width: 565px;
        max-height: 405px;
    }

    .header__developers_title{
        margin-top: 30px;
    }

    .header__developers{
        height: 710px;
    }

    .business__container{
        padding: 60px 20px 250px;
    }

    .business__wrapper{
        margin-top: 20px;
        margin-left: unset;
    }

    .demo__advantages_item_title{
        margin-top: unset;
    }

    .business__container > h3,
    .make__info > h2,
    .analyst__container > h3,
    .level__making > h3,
    .level__tabs > h3{
        font-size: 22px;
    }

    .demo__advantages_item > img{
        width: 70px;
        height: 70px;
    }

    .demo__advantages_item_title > h1{
        font-size: 36px;
        line-height: 43px;
    }

    .demo__advantages_item_title > span{
        font-size: 19px;
        line-height: 22px;
    }

    .demo__advantages_content > h3,
    .analyst__items > h4,
    .component__container > span,
    .component__descr > h4,
    .enduser__wrapper > h4{
        font-size: 18px;
    }

    .component__container > span{
        line-height: 24px;
    }

    .analyst__items > h4,
    .component__descr > h4,
    .component__block > p,
    .level__tabs_h4,
    .level__tabs_item > p,
    .make__users_descr > span,
    .make__users_descr > a,
    .enduser__wrapper > h4{
        line-height: 25px;
    }

    .business__circle_title_text{
        font-size: 19px;
    }

    .component__block > p,
    .level__tabs_h4,
    .level__tabs_item > p,
    .make__users_descr > span,
    .make__users_descr > a{
        font-size: 16px;
    }

    .business__circle_title_yes{
        font-size: 50px;
        line-height: 59px;
    }

    .demo__advantages_btns > a{
        width: 180px;
        padding: 18px 0;
        text-align: center;
    }

    .demo__advantages_btns > a:not(:last-child){
        width: 200px;
    }

    .make__info{
        position: relative;

        & > a:nth-last-child(-n+2){
            position: absolute;
            top: 0;
            right: 0;
        }

        & > a:nth-child(3){
            margin-top: 20px;
        }

        & > a:nth-child(4){
            top: 51px;
        }

        & > a:nth-child(5){
            position: absolute;
            top: 90px;
        }
    }

    .header__users,
    .header__owners{
        height: 780px;
    }

    .header__users_title{
        margin-top: 50px;
        text-align: center;
    }

    .header__owners_title{
        margin-top: 80px;
        text-align: center;
    }

    .header__users_title > h1,
    .header__owners_title > h1{
        font-size: 30px;
        line-height: 38px;
        text-align: center;
    }

    .analyst__container > h3,
    .level__making > h3,
    .level__tabs > h3{
        line-height: 33px;
    }

    .component__container > h2{
        font-size: 28px;
        line-height: 40px;
    }

    .level__container > h2,
    .make__users_info > h2{
        font-size: 28px;
        line-height: 34px;
    }

    .level__tabs_item > p{
        width: 96%;
    }

    .level__tabs_btn{
        top: -5px;
    }

    .make__users_info{
        max-width: 100%;
    }
}

@media screen and (max-width: 640px){
    .footer__links{
        max-width: 120px;
        margin: 0 15px;
    }
}

@media screen and (max-width: 639px){
    .container__news {
        margin: 35px auto 0 auto;
    }
    .container__news {
        grid-gap: 40px 30px;
    }

    #title__news,
    .header__online_demo > a {
        font-size: 16px;
    }

    .btn__news {
        font-size: 12px;
    }

    .header__board_items > h1 {
        font-size: 30px;
        line-height: 1.25;
    }

    .header__board_descr {
        font-size: 17px;
    }

    .header__board_subtitle{
        margin-top: 20px;
    }

    .header__board_video{
        top: 120px;
    }

    .header__board_video {
        width: 452px;
        height: 333px;
    }

    .header__board_video > img{
        width: 452px;
        height: 333px;
    }

    .header__iframe {
        width: 336px;
        height: 208px;
        top: 14px;
    }

    .header__artboard{
        height: 700px;
    }

    .advantages__question{
        font-size: 24px;
    }

    .advantages__answer{
        font-size: 20px;
        line-height: 1.45;
    }

    .advantages__items:not(:first-child) {
        padding-top: 30px;
    }

    .header__frame--active {
        width: 95%;
        height: 95%;
        top: 50%;
    }

    .advantages{
        margin-bottom: 40px;
        padding: 0 20px
    }

    .tabs__content{
        max-width: 100%;
    }

    .tabs__link_now{
        max-width: 110px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 14px;
        line-height: 40px;
    }

    .info__service > h2{
        font-size: 22px;
    }

    .info__content > img{
        width: 483px;
        height: 409px;
    }

    .demo__container,
    .offers__container,
    .users__container,
    .trusted__container{
        padding-top: 50px;
        padding-bottom: 55px;
    }

    .supports__container{
        padding-top: 50px;
    }

    .demo__container > h2,
    .supports__slider > h2{
        font-size: 22px;
        line-height: 1.4;
    }

    .demo__items_card{
        max-width: 100%;
    }

    .demo__items_card > img {
        max-width: 160px;
    }

    .demo__container > a{
        width: 187px;
        height: 40px;
    }

    .offers__container > h2,
    .analyzer__wrapper > h2{
        font-size: 28px;
    }

    .offers__wrapper{
        display: flex;
        justify-content: flex-start;
        padding-left: 60px;
    }

    .supports__slider > span{
        font-size: 16px;
        line-height: 1.4;
    }

    .offers__slider-button-next, 
    .offers__slider-button-prev{
        width: 32px;
        height: 239px;
    }

    .supports__slider_nav,
    .users__slider_nav{
        width: 24px;
        height: 24px;
    }

    .offers__slider-button-prev{
        left: unset;
    }

    .offers__slider-button-prev {
        transform: translate(-50%,-43%);
    }

    .offers__slider-button-next {
        transform: translate(0,-43%);
    }

    .arrow__left,
    .arrow__right{
        height: 10px;
    }

    .supports__container > a{
        width: 210px;
        height: 40px;
    }

    .offers__slider-button-next{
        right: 3px;
    }

    .users__wrapper > h2{
        font-size: 28px;
        line-height: 1.23;
    }

    .users__item{
        flex-direction: column;
        padding-left: 20px;
    }

    .users__comment{
        margin-top: 20px;
        margin-left: unset;
    }

    .users__comment > p{
        font-size: 16px;
        line-height: 1.45;
    }

    .users__slider_nav{
        top: 55%;
    }

    .users__sld_right {
        right: -5px;
    }

    .users__sld_left {
        left: unset;
    }

    .users__author{
        font-size: 20px;
    }

    .trusted__container > h2,
    .effective__container > h2,
    .section__item > h2{
        font-size: 28px;
    }

    .trusted__company {
        max-width: 184px;
    }

    .trusted__wrapper{
        max-width: 553px;
    }

    .trusted__company > img{
        width: 100%;
    }

    .help__info > h2{
        font-size: 30px;
        line-height: 34px;
    }

    .help__container{
        align-items: flex-start;
        justify-content: center;
        text-align: center;
    }

    .help__info > a{
        margin: 40px auto;
    }

    .help__info{
        max-width: 440px;
        margin-top: 60px;
        padding-left: unset;
    }

    .help__info > a{
        width: 150px;
        height: 45px;
        font-size: 14px;
    }

    .help{
        height: 630px;
    }

    .help__mobile{
        background-image: url('../img/help-bg-mobile.jpg');
        background-position: center;
    }

    .footer__copyright{
        padding-left: 0;
    }

    .header__get > h1{
        padding: 24px 20px 38px;
        font-size: 40px;
    }

    .header__get{
        height: 450px;
    }

    .demo__get_data,
    .effective{
        padding-top: 75px;
        padding-bottom: 70px;
    }

    .demo__projects,
    .demo__app,
    .about__container{
        padding: 75px 20px 30px;
    }

    .demo__get_container > h2,
    .demo__app > h2,
    .demo__projects_container > h2,
    .header__online_demo > h1,
    .header__analyzer_title > h1{
        font-size: 30px;
    }

    .demo__get_subtitle{
        font-size: 22px;
        padding: 0 20px;
    }

    .demo__get_iframe:last-child{
        display: none;
    }

    .demo__get_query > h3{
        text-align: center;
        line-height: 1.4;
    }

    .demo__get_query{
        width: 100%;
        margin-top: 40px;
        padding: 0 20px;
    }

    .demo__get_query > a{
        width: 100%;
        margin-top: 30px;
    }

    .demo__get_container{
        padding: 0;
    }

    .demo__get_iframe{
        max-width: 100%;
    }

    .demo__app_subtitle,
    .demo__projects_subtitle,
    .started__info > h2{
        font-size: 22px;
    }

    .demo__app_info{
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .demo__app_info > a{
        width: 156px;
        height: 45px;
        font-size: 14px;
    }

    .demo__app_title,
    .effective__content > span,
    .about__link > h3{
        font-size: 20px;
    }

    .demo__app_descr{
        line-height: 1.45;
    }

    .tabs__select_title{
        display: block;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Roboto-Light',sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.45;
    }

    .tabs__select_mobile::after{
        top: 70%;
    }

    .tabs__list_projects > a{
        width: 199px;
        height: 45px;
        font-size: 14px;
    }

    .demo__projects_subtitle{
        margin-bottom: 25px;
    }

    .help__answer > h2{
        max-width: 318px;
        line-height: 1.25;
    }

    .about__container{
        grid-gap: 60px 20px;
        grid-template-columns: 1fr 1fr;
    }

    .about__link > img {
        width: 100%;
        max-width: 280px;
        min-height: unset;
    }

    .demo__projects_container{
        padding: unset;
    }

    .popup__modal{
        padding: 20px;
    }

    .popup__input_email,
    .popup__input_name{
        padding: 17px 14px;
    }

    .popup__form > textarea{
        padding: 10px;
    }

    .popup__title{
        font-size: 28px;
    }

    .popup__subtitle{
        font-size: 12px;
    }

    .textarea__error{
        padding: 20px 15px;
        font-size: 16px;
    }

    .data__sent{
        padding: 15px 25px;
        font-size: 16px;
    }

    .popup__checkbox > label{
        font-size: 12px;
        line-height: 1.45;
    }

    .header__online_subtitle{
        font-size: 18px;
    }

    .header__online_subtitle{
        max-width: 416px;
    }

    .header__online_demo > h1{
        max-width: 340px;
        text-align: center;
    }

    .header__online_demo > img{
        max-width: 453px;
    }

    .demo__features_items > a{
        max-width: 180px;
        padding: 13px 0;
    }

    .demo__img_left{
        max-width: 480px;
    }

    .demo__features_items > span{
        max-width: 430px;
    }

    .project__block,
    .started__info{
        max-width: 440px;
    }

    .project__api > img{
        max-width: 460px;
    }

    .started{
        height: 640px;
    }

    .project__block > p{
        line-height: 1.45;
    }

    .started__info > a{
        height: 45px;
    }

    .header__analyzer_title,
    .header__analyzer_wrapper{
        max-width: 366px;
    }

    .header__analyzer {
        height: 1070px;
    }

    .analyzer__wrapper {
        padding: 70px 20px 60px;
    }

    .analyzer__container {
        padding: 70px 30px 60px;
    }

    .offers__slider-button-next,
    .offers__slider-button-prev{
        top: 26%;
    }

    .supports{
        padding-bottom: 60px;
    }

    .supports > a{
        width: 210px;
        height: 40px;
        font-size: 14px;
        font-weight: 700;
    }

    .tabs{
        padding: 80px 20px 0 20px;
    }

    .header__developers_title > h1{
        font-size: 30px;
        line-height: 38px;
        text-align: center;
    }

    .business__container {
        padding: 60px 10px 190px;
    }

    .business__violet::before{
        border-right: 30px solid transparent;
    }

    .business__violet::after{
        border-left: 30px solid transparent;
    }

    .business__blue::before{
        width: 30px;
        border-right: 30px solid transparent;
    }

    .business__blue::after{
        width: 30px;
        border-left: 30px solid transparent;
    }

    .business__aqua::before{
        width: 60px;
        border-bottom: 302px solid #fff;
        border-right: 60px solid transparent;
    }

    .business__aqua{
        height: 302px;
    }

    .business__aqua::after{
        width: 60px;
        border-bottom: 302px solid #fff;
        border-left: 60px solid transparent;
    }

    .business__circle{
        width: 342px;
        height: 342px;
        top: 20%;
    }

    .business__blue > span{
        max-width: 300px;
    }

    .business__aqua > span{
        max-width: 260px;
    }

    .business__circle_title_text{
        margin-top: 30px;
    }

    .business__circle_title_yes{
        margin-top: unset;
    }

    .demo__advantages_item_title{
        margin-left: 18px;
    }

    .demo__advantages_container{
        padding: 90px 20px 89px 27px;
    }

    .header__users_title{
        margin-top: 30px;
    }

    .header__owners_title{
        margin-top: 60px;
    }

    .header__users_title > a{
        margin-top: 35px;
    }

    .level__container{
        padding: 70px 10px;
    }

    .level__making,
    .level__tabs > h3,
    .level__tabs_title,
    .level__tabs_item > p,
    .level__container > span{
        padding: 0 20px;
    }

    .level__tabs_btn{
        right: 10px;
    }
}

@media screen and (max-width: 585px){

    .offers__wrapper{
        padding-left: 5px;
    }

    .supports__slider_item > img{
        max-width: 144px;
    }

    .supports__slider_container{
        height: 100%;
    }

    .supports__slider_wrapper{
        align-items: center;
    }

    .offers__slider-button-prev {
        transform: translate(-50%,-35%);
    }

    .offers__slider-button-next{
        transform: translate(0,-35%);
    }

    .footer__links > h3,
    .footer__links > ul > li > a,
    .footer__copyright > ul > li > a{
        font-size: 12px;
    }

    .demo__features_items{
        max-width: 403px;
    }

    .demo__features_wrapper{
        margin-left: 110px;
    }

    .header__online_subtitle,
    .header__online_demo > img{
        max-width: 290px;
    }

    .demo__features_wrapper{
        margin-left: unset;
    }

    .demo__features_items{
        max-width: 270px;
        margin: 0 auto;
    }

    .demo__img_left{
        max-width: 320px;
    }

    .project__block,
    .started__info{
        max-width: 280px;
    }

    .project__api > img{
        max-width: 339px;
    }

    .offers__slider-button-next,
    .offers__slider-button-prev{
        top: 25%;
    }
}

@media screen and (max-width: 560px){
    .popup__modal{
        max-width: 100%;
        right: 0;
        left: 0;
        top: 50px;
        bottom: 0;
        margin: 0;
    }

    .popup--show::before{
        width: 100%;
        padding: 13px;
        background-image: unset;
        background-color: black;
        top: unset;
        right: unset;
        z-index: 2;
    }

    .popup--show::after{
        width: 18px;
        height: 23px;
        content: '';
        position: fixed;
        top: 16px;
        right: 20px;
        background-image: url('../img/close-modal.png');
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
        cursor: pointer;
    }
}

@media screen and (max-width: 531px){
    .offers__slider-button-next,
    .offers__slider-button-prev{
        top: 26%;
    }

    .make__info{
        width: 96%;
    }

    .header__owners{
        height: 690px;
    }

    .header__owners_title > h1{
        max-width: 300px;
    }

    .module__software_container{
        padding: 75px 30px 62px;
    }

    .module__software_img{
        max-width: 300px;
    }

    .safe__time_container > h3{
        max-width: 420px;
    }

    .safe__time_item{
        padding-left: 19px;
        padding-right: 22px;
    }

    .safe__time_item > img{
        width: 70px;
        height: 70px;
    }

    .safe__time_descr > h1{
        font-size: 36px;
        line-height: 42px;
    }
}

@media screen and (max-width: 480px){
    .footer__links{
        max-width: 200px;
        margin: 0;
    }
}

@media screen and (max-width: 479px){
    .header__artboard{
        height: 600px;
    }

    .header__board_video{
        top: 95px;
    }

    .header__board_video {
        width: 320px;
        height: 236px;
    }

    .header__board_video > img{
        width: 320px;
        height: 236px;
    }

    .header__iframe {
        width: 239px;
        height: 156px;
        top: 10px;
    }

    .header__frame--active {
        width: 95%;
        height: 95%;
        top: 50%;
    }

    .tabs > h3{
        font-size: 28px;
    }

    .info__content > img{
        width: 319px;
        height: 270px;
        margin: 20px auto 0;
    }

    .info__content{
        display: flex;
        flex-direction: column;
    }

    .right__info{
        margin-top: 30px;
        order: 1;
    }

    .info__service_block,
    .info__service_block_title > img,
    .info__service_block_title > strong{
        position: unset;
    }

    .info__service_block{
        width: 90%;
        max-width: 95%;
        text-align: left;
        padding-left: 60px;
    }

    .info__service_block:not(:last-child){
        margin-bottom: 30px;
    }

    .info__service_block_title{
        margin-left: unset !important;
        justify-content: flex-start !important;
        margin-bottom: 10px;
    }

    .right__info{
        margin-left: unset;
    }

    .bottom__info{
        transform: unset;
    }

    .info__service_block_title > img{
        margin-right: 20px;
    }

    .bottom__info > span{
        text-align: left;
    }

    .header__board_items > a{
        width: 289px;
        height: 70px;
        margin: 0 auto;
    }

    .header__board_items > a{
        top: 30px;
    }

    .header__artboard{
        height: 640px;
    }

    .about__container{
        grid-gap: 60px 0;
        grid-template-columns: 1fr;
    }

    .about__items,
    .about__link > img{
        max-width: 100%;
    }

    .started__mobile {
        background-image: url('../img/bg-started-mobile2.png');
    }

    .header__online_subtitle,
    .header__online_subtitle > span{
        font-size: 16px;
        letter-spacing: 0.5px;
    }

    .header__online_demo > img{
        margin-top: 40px;
    }

    .project__block > h3{
        line-height: 1.2;
    }

    .header__analyzer::before,
    .header__developers::before,
    .header__users::before,
    .header__owners::before{
        left: -470px;
    }

    .header__analyzer::after,
    .header__developers::after,
    .header__users::after,
    .header__owners::after{
        right: -480px;
    }

    .header__analyzer_title,
    .header__analyzer_wrapper {
        max-width: 300px;
    }

    .header__analyzer{
        height: unset;
    }

    .header__analyzer_title{
        margin-top: 150px;
    }

    .header__analyzer_wrapper{
        margin-bottom: 70px;
    }

    .designed__item{
        flex-direction: column;
        align-items: center;
    }

    .designed__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0 0 0;
    }

    .supports__designed > h2{
        font-size: 22px;
    }

    .designed__content > span{
        margin-bottom: 10px;
    }

    .designed__caption{
        justify-content: center;
    }

    .designed__item:last-child {
        margin-top: 30px;
    }

    .offers__slider-button-next,
    .offers__slider-button-prev{
        top: 20.5%;
    }

    .make__info{
        width: 100%;
    }

    .header__users{
        height: 690px;
    }

    .make__users_descr{
        max-width: 80%;
    }

    .make__users_info{
        align-items: center;
    }

    .enduser__wrapper{
        max-width: 90%;
    }
}

@media screen and (max-width: 440px){
    .trusted__wrapper{
        grid-template-columns: repeat(2, 1fr);
    }

    .trusted__company{
        max-width: 200px;

        &:nth-child(-n+3) {
            border-top: 1px solid $alto;
        }

        &:nth-child(3n) {
            border-right: 1px solid $alto;
        }
  
        &:nth-child(-n+2) {
            border-top: 0px solid transparent;
        }
    
        &:nth-child(2n) {
            border-right: unset;
        }

        &:nth-child(6n) {
            border-bottom: 0px solid transparent;
            margin-bottom: 0;
        }

        &:nth-child(10n) {
            margin-bottom: 0;
            border-bottom: 1px solid transparent;
        }
    }

    .news,
    .info__service{
        padding: 30px 20px;
    }

    .supports__slider_item > img{
        max-width: 124px;
    }

    .demo__get_iframe:first-child{
        height: 300px;
    }

    .analyzer__grid{
        grid-template-columns: repeat(2,1fr);
    }

    .analyzer__item{

        &:nth-child(3n+3) {
            border-right: 1px solid $alto;
            border-left: 1px solid $alto;
        }

        &:nth-child(3n+1) {
            border-right: 1px solid $alto;
            border-left: 1px solid $alto;
        }

        &:nth-child(2n+2) {
            border-right: 0;
            border-left: 0;
        }

        &:nth-child(2n+1) {
            border-right: 1px solid $alto;
            border-left: 0;
        }

        &:nth-last-child(-n+2) {
            border-bottom: 0;
            border-right: 1px solid $alto;
        }
        &:nth-last-child(-n+1) {
            border-right: 0;
        }
    }

    .offers__slider-button-next,
    .offers__slider-button-prev{
        top: 19.5%;
    }

    .header__developers_title{
        margin-top: unset;
    }

    .business__container{
        padding: 50px 10px 190px;
    }

    .business__violet::before{
        border-right: 20px solid transparent;
    }

    .business__violet::after{
        border-left: 20px solid transparent;
    }

    .business__blue::before{
        width: 20px;
        border-right: 20px solid transparent;
    }

    .business__blue::after{
        width: 20px;
        border-left: 20px solid transparent;
    }

    .business__aqua::before{
        width: 40px;
        border-bottom: 302px solid #fff;
        border-right: 50px solid transparent;
    }

    .business__aqua{
        height: 302px;
    }

    .business__aqua::after{
        width: 40px;
        border-bottom: 302px solid #fff;
        border-left: 50px solid transparent;
    }

    .header__developers {
        height: 650px;
    }

    .header__developers_title{
        margin-top: 40px;
    }

    .demo__advantages_container {
        padding: 70px 20px 60px 20px;
    }

    .make__info{
        margin-top: 50px;
        align-items: center;

        & > h2{
            width: 100%;
            margin-top: 20px;
            margin-bottom: unset;
            order: 1;
        }

        & > a:nth-child(2){
            position: unset;
            order: 2;
        }

        & > a:nth-child(3){
            position: unset;
        }

        & > a:nth-child(4){
            position: unset;
        }

        & > a:nth-child(5){
            position: unset;
        }
    }

    .level__tabs_h4{
        max-width: 88%;
    }

    .footer__links{
        max-width: 180px;
    }
}

@media screen and (max-width: 400px){
    .info__service_block{
        padding-left: 15px;
    }

    .demo__get_iframe:first-child{
        height: 270px;
    }

    .header__analyzer::before,
    .header__developers::before,
    .header__users::before,
    .header__owners::before{
        left: -540px;
    }

    .header__analyzer::after,
    .header__developers::after,
    .header__users::after,
    .header__owners::after{
        right: -560px;
    }

    .header__developers_title{
        margin-top: 20px;
    }

    .business__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .business__items{
        width: 100%;
    }

    .business__items::before,
    .business__items::after{
        display: none;
    }

    .business__container {
        padding: 50px 0 20px;
    }

    .business__violet{
        height: 236px;
    }

    .business__blue{
        height: 211px;
    }

    .business__aqua{
        height: 206px;
    }

    .business__circle{
        position: relative;
        transform: unset;
        left: unset;
        top: unset;
    }

    .business__items > span{
        max-width: 100%;
    }

    .business__violet,
    .business__blue,
    .business__aqua{
        padding: 20px 25px;
    }

    .business__aqua > span{
        margin-top: 25px;
    }

    .business__container > h3{
        display: block;
        padding: 0 20px;
    }

    .demo__advantages_item_title > h1{
        font-size: 32px;
    }

    .demo__advantages_item_title > span{
        font-size: 18px;
        line-height: 21px;
    }

    .demo__advantages_content > h3,
    .analyst__items > h4,
    .component__descr > h4,
    .enduser__wrapper > h4{
        font-size: 17px;
        line-height: 26px;
    }

    .component__container > span,
    .level__container > span{
        font-size: 17px;
        line-height: 24px;
    }

    .demo__advantages_content_description{
        line-height: 25px;
    }

    .demo__advantages_btns{
        flex-direction: column;
        align-items: center;
    }

    .demo__advantages_btns > a:not(:last-child){
            margin-right: unset;
            margin-bottom: 30px;
    }

    .make{
        height: 618px;
        background-image: url('../img/bg-make-dev-mobile-min.png');
    }

    .make__users{
        height: 700px;
        background-image: url('../img/bg-make-usr-mobile-min.png');
    }

    .header__users,
    .header__owners{
        height: 611px;
    }

    .header__users_bg{
        margin-left: 20px;
    }

    .analyst__container > h3,
    .make__users_info > h2{
        font-size: 20px;
        line-height: 28px;
    }

    .component__container > h2,
    .level__container > h2{
        font-size: 24px;
    }

    .level__container > h2,
    .level__making > h3,
    .level__tabs > h3{
        line-height: 30px;
    }

    .level__making > h3,
    .level__tabs > h3{
        font-size: 20px;
    }

    .level__making{
        margin: 25px auto 0;
    }

    .footer__links{
        max-width: 150px;
    }
}

@media screen and (max-width: 384px){
    .offers__slider-button-next {
        transform: translate(0,-30%);
    }

    .offers__slider-button-prev {
        transform: translate(-50%,-30%);
    }

    .demo__features_wrapper{
        margin-top: 50px;
    }

    .project__api {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .offers__slider-button-next,
    .offers__slider-button-prev{
        top: 20.5%;
    }
}

@media screen and (max-width: 360px){
    .nav-title img {
        width: 85%;
    }

    .nav__container {
        padding: 99px 40px 0;
    }

    .demo__get_iframe:first-child{
        height: 230px;
    }

    .header__developers_title{
        margin-top: unset;
    }
}

@media screen and (max-width: 355px){
    .tabs__content{
        padding-right: 40px;
    }

    .trusted__wrapper{
        max-width: 280px;
        margin: 30px 0 0;
    }

    .offers__wrapper{
        padding-left: 0;
    }

    #feed__news {
        padding-right: 15px;
    }

    .demo__projects_container,
    .help__container{
        padding-right: 20px;
    }

    .demo__projects_container > h2{
        text-align: center;
    }

    .tabs{
        padding: 50px 20px 10px 20px;
    }

    .business__circle{
        width: 320px;
        height: 320px;
    }

    .analyst__items > img{
        max-width: 300px;
    }

    .analyst__items > p{
        max-width: 260px;
    }

    .component__descr{
        margin-bottom: 40px;
    }

    .level__tabs_btn{
        top: -7px;
    }

    .make__users_descr,
    .enduser__wrapper{
        max-width: 100%;
    }

    .enduser__wrapper > a{
        width: calc(100% + 20px);
        margin-left: -10px;
    }

    .module__software_container {
        padding: 70px 30px 71px;
    }

    .module__software_container > h3{
        max-width: 260px;
        margin: 0 auto;
        text-align: center;
    }

    .module__software_img > img{
        max-width: calc(100% + 40px);
    }

    .safe__time_btn{
        flex-direction: column;
        align-items: center;
        margin-top: 43px;
    }

    .safe__time_btn > a:not(:last-child){
        max-width: 160px;
        margin-right: unset;
        margin-bottom: 30px;
    }

    .safe__time_btn > a{
        width: 180px;
    }

    .header__owners_title {
        margin-top: 20px;
    }
}