.popup{
    opacity: 0;
    overflow: auto;

    &--show{
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.6);
        opacity: 1;
        z-index: 300;
        transition: opacity 0.3s ease-in-out;

        &:before{
            content: '';
            position: fixed;
            width: 24px;
            height: 24px;
            top: 15px;
            right: 20px;
            background-image: url('../img/close-modal.png');
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
        }
    }

    &__modal{
        width: 100%;
        max-width: 540px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 45px;
        margin: 65px auto;
        background-color: $white;
        position: relative;
        top: 0;
        left: auto;
        right: auto;
        transition: all 0.3s ease-in-out;
    }

    &__title{
        margin-bottom: 20px;
        font-family: 'Roboto-Bold',sans-serif;
        font-weight: 600;
        font-size: 36px;
        line-height: 1.23;
    }

    &__form{
        width: 100%;
        display: flex;
        flex-direction: column;

        & > textarea{
            height: 102px;
            padding: 18px;
            margin-top: 25px;
            border: solid $silver 1px;
            border-radius: 5px;
            resize: vertical;
            font-family: 'Roboto-Regular';
            font-size: 16px;
            font-weight: 400;
            color: $black;
        }
    }

    &__input_name,
    &__input_email{
        padding: 17px 58px;
        border: solid $silver 1px;
        border-radius: 5px;
        font-family: 'Roboto-Regular';
        font-size: 14px;
        font-weight: 400;
        color: $black;
    }

    &__input_name{
        margin-bottom: 8px;
    }

    &__input_email{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    &__btn{
        display: block;
        width: 100%;
        height: 54px;
        margin-top: 25px;
        background-color: $black;
        border: none;
        border-radius: 5px;
        font-family: 'Roboto-Bold';
        font-size: 16px;
        font-weight: 700;
        color: $white;
        cursor: pointer;
    }

    &__subtitle{
        display: block;
        margin-top: 20px;
        font-family: 'Roboto-Light';
        font-size: 15px;
        line-height: 1.55;
        font-weight: 300;
    }

    &__checkbox{
        display: flex;
        align-items: center;
        margin-top: 20px;
        cursor: pointer;

        & > label{
            font-family: 'Roboto-Light';
            font-size: 15px;
            font-weight: 300;
            cursor: pointer;
        }
    }
}

.dropdown{
    display: flex;
    position: relative;

    &__country{
        height: 57px;
        border: solid $silver 1px;
        border-radius: 5px;
        font-family: 'Roboto-Regular';
        cursor: pointer;
        margin-bottom: 8px;
    }

    &__wrapper{
        max-width: 150px;
        display: flex;
        align-items: center;
    }

    &__items{
        display: none;
    }

    &__items--active{
        width: 100%;
        max-height: 212px;
        max-width: 400px;
        display: block;
        position: absolute;
        border: solid $gallery2 1px;
        border-radius: 7px;
        background-color: $white;
        top: calc(100% + 5px);
        overflow: auto;
    }

    &__item{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        padding: 10px 16px 10px 8px;
        cursor: pointer;

        &:hover{
            background-color: $gallery2;
        }

        &_label{
            cursor: pointer;
        }
    }

    &__country_number{
        width: 100%;
        margin-left: 10px;
        margin-top: 2px;
        border: none;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        background-color: transparent;

        &::placeholder{
            font-family: 'Roboto-Regular';
            font-size: 16px;
            font-weight: 400;
        }
    }

    &__name_country{
        margin-left: 15px;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__code_phone{
        margin-left: 10px;
        cursor: pointer;
    }
}

.input__error{
    border: solid red 1px;
}

.span__error{
    font-family: 'Roboto-Regular';
    font-size: 13px;
    font-weight: 400;
    color: red;
}

.textarea__error{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px 30px;
    text-align: center;
    background-color: $carnation;
    font-family: 'Roboto-Light';
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
    color: $white;
}

.data__sent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 15px 35px;
    text-align: center;
    background-color: $emerald;
    font-family: 'Roboto-Light';
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
    color: $white;
}

.email__contact_us{
    margin-bottom: 8px;
}

.popup-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.popup-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .popup-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid $black;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .popup-checkbox:checked + label::before {
    background-image: url("../img/checked.png");
    background-repeat: no-repeat;
    background-size: auto;
  }
