.safe__time{
    background-color: $alabaster;

    &_container{
        padding: 120px 20px 105px;
        
        & > h3{
            max-width: 1040px;
            display: flex;
            margin: 0 auto;
            font-family: 'Roboto-Bold',sans-serif;
            font-size: 30px;
            line-height: 42px;
            font-weight: 600;
            text-align: center;
        }
    }

    &_wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 42px;
    }

    &_item{
        max-width: 560px;
        display: flex;

        & > img{
            width: 100px;
            height: 100px;
        }
    }

    &_descr{
        margin-left: 24px;

        & > h1{
            font-family: 'Roboto-Bold',sans-serif;
            font-size: 48px;
            line-height: 42px;
            font-weight: 700;
            color: $mantis;
        }

        & > span{
            display: block;
            margin-top: 8px;
            font-family: 'Roboto-Light',sans-serif;
            font-size: 18px;
            line-height: 27px;
            font-weight: 300;

            & > a{
                text-decoration: underline $mantis;
                text-underline-offset: 3px;
                -webkit-text-underline-offset: 3px;
                -ms-text-underline-offset: 3px;
                font-family: 'Roboto-Light',sans-serif;
                font-size: inherit;
                line-height: inherit;
                font-weight: inherit;
                color: inherit;
            }
        }
    }

    &_btn{
        display: flex;
        justify-content: center;
        margin-top: 74px;

        & > a{
            width: 160px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $mantis;
            border-radius: 5px;
            font-family: 'Roboto-Bold',sans-serif;
            font-size: 16px;
            line-height: 19px;
            font-weight: 600;
            color: $white;

            &:not(:last-child){
                margin-right: 49px;
            }
        }
    }
}