.trusted{
    background-color: $alabaster;

    &__container{
        padding-top: 100px;
        padding-bottom: 85px;
        text-align: center;

        & > h2 {
            font-family: 'Roboto-Bold',sans-serif;
            font-weight: 600;
            line-height: 1.23;
            font-size: 30px;
        }
    }

    &__wrapper{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-top: 40px;
    }

    &__company{
        max-width: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border: solid $alto 1px;
        border-left: unset;
        border-bottom: unset;

        &:nth-child(1) > img{
            max-width: 100px;
        }

        &:nth-child(-n+5) {
            border-top: 1px solid transparent;
        }

        &:nth-child(5n) {
            border-right: unset;
        }

        &:nth-child(10n) {
            margin-bottom: -1px;
            border-bottom: solid $alto 1px;
        }

        & > img{
            max-width: 200px;
        }
    }
}