$max-width: 1200px;
$min-width: 300px;
$white: #fff;
$black: #000;
$gallery: #efefef;
$gallery2: #eeeeee;
$logan: #9ea0c1;
$logan2: #adaec9;
$mantis: #7bc866;
$mischka: #cdcedd;
$mercury: #e5e5e5;
$alabaster: #f7f7f7;
$boulder: #777777;
$blueRibbon: #2e3cff;
$alto: #d9d9d9;
$mineShaft: #1f1f1f;
$silver: #c9c9c9;
$carnation: #f95d51;
$emerald: #62c584;
$solitude: #ecf7ff;
$tolopea: #0f0447;
$onahau: #c4e5ff;
$kleinBlue: #041cb9;
$wildSand: #Fff5f5;